<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240122_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 판다스 import
import pandas as pd # as pd 별명/별칭

# 데이터프레임 생성
data = {'이름': ['홍길동', '임꺽정', '이순신'],
        '나이': [30, 35, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)
print(df)

    이름  나이  도시
0  홍길동  30  서울
1  임꺽정  35  부산
2  이순신  40  광주

In [2]:
import pandas as pd

#시리즈 생성
names = pd.Series(['홍길동', '임꺽정', '이순신'])

In [3]:
print(names)
type(names)

0    홍길동
1    임꺽정
2    이순신
dtype: object

pandas.core.series.Series

In [4]:
import pandas as pd

# 엑셀 파일을 DataFrame으로 불러오기
#pd.read_excel("/content/sample_data/california_housing_test.csv")
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [5]:
#DataFrame의 요약 정보 출력

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [6]:
# 요구정의서 / 컬럼에 대한 히스토리!
test = pd.read_csv("/content/sample_data/california_housing_train.csv")
print(test.head())
print(test.tail())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

In [7]:
# Dataframe의 통계적 요약 정보 출력
# 1. Min / Max -> 999999999 / -99999999 / 이상한 문자로 된 값 ***********
# 2. Mean -> 평균이 우리가 아는 수치와 비슷한지
# 3. 25% 50% 75% -> 데이터가 편중되어 있는지 아니면 잘 분포되어있는지 -> 표준편차
# 3번예)  111111111111111111112345 (우리 어플 사용량!)

print(test.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

In [8]:
# inplace 매개변수를 사용하지 않는 경우
df = df.dropna()

# inplace=True를 사용하는 경우
df.dropna(inplace=True) # inplace=False 처리된 값만 보여주고, 반영되지 않는데

In [9]:
# 결측치 처리

import pandas as pd
import numpy as np

# 샘플 데이터프레임 생성
# 문자형 데이터는 describe() 사용해도 통계량이 나오지 않는다. -> count()
data = {'이름': ['홍길동', '임꺽정', None],
        '나이': [30, None, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)

In [10]:
print(df.describe())

              나이
count   2.000000
mean   35.000000
std     7.071068
min    30.000000
25%    32.500000
50%    35.000000
75%    37.500000
max    40.000000

In [11]:
de.info()
de.describe()

NameError: name 'de' is not defined

In [ ]:
import pandas as pd
import numpy as np

# 샘플 데이터프레임 생성
data = {'이름': ['홍길동', '임꺽정', None],
        '나이': [30, None, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)

In [ ]:
# 결측치가 포함된 데이터프레임 출력
print("원본 데이터프레임:\n", df)

In [ ]:
# 결측치 제거
df.dropna(inplace=True)

In [ ]:
# 결측치가 제거된 데이터프레임 출력
print("\n결측치 제거 후 데이터프레임:\n", df)

#2. 데이터프레임 / 시리즈

In [ ]:
# Pandas DataFrame 예시
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
})

# 각 속성 호출
print("Shape:", df.shape)
print("Data Types:\n", df.dtypes)
print("Index:", df.index)
print("Columns:", df.columns)

In [ ]:
print("Shape of DataFrame:", df.shape)

In [ ]:
print("Data Types:\n", df.dtypes)

In [ ]:
print("Index:", df.index)

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob'],  # 문자열 타입
    'Age': ['25', '30'],       # 숫자 데이터를 문자열로 표현
    'Member': ['True', 'False'],  # 불린 데이터를 문자열로 표현
    'Join Date': ['2021-01-01', '2021-07-01']  # 날짜 데이터를 문자열로 표현
}

df = pd.DataFrame(data)

# 데이터 타입 변환
df['Age'] = df['Age'].astype(int)  # 'Age' 열을 정수형으로 변환
df['Member'] = df['Member'].astype(bool)  # 'Member' 열을 불린형으로 변환
df['Join Date'] = pd.to_datetime(df['Join Date'])  # 'Join Date' 열을 datetime으로 변환

# 결과 출력
print(df)
print(df.dtypes)

In [ ]:
import pandas as pd
import numpy as np

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
}
df = pd.DataFrame(data)

# 단일 열 선택 -> 결과는 Series
age_series = df['Age']
print(type(age_series))

# 다중 열 선택 -> 결과는 DataFrame
subset_df = df[['Name', 'City']]
print(type(subset_df))

# loc 사용 예시
print(df.loc[:, 'Age'])

# iloc 사용 예시
print(df.iloc[:, 1])

# 결측치 추가
df.loc[1, 'Age'] = np.nan

# 결측치 확인
print(df['Age'].isnull())

In [ ]:
# 단일 열 선택 -> 결과는 Series
age_series = df['Age']
print(type(age_series))

In [ ]:
# 다중 열 선택 -> 결과는 DataFrame
subset_df = df[['Name', 'City']]
print(type(subset_df))

In [ ]:
# loc 사용 예시
print(df.loc[:, 'Age'])

In [ ]:
# iloc 사용 예시
print(df.iloc[:, 1])

In [ ]:
# 결측치 추가
df.loc[1, 'Age'] = np.nan

In [ ]:
# 결측치 확인
print(df['Age'].isnull())

In [ ]:
import pandas as pd

# Series 생성
data = pd.Series([10, 20, 20, 30, 40])

# sum(), mean(), value_counts() 사용 예시
print("Sum:", data.sum())           # 합계
print("Mean:", data.mean())         # 평균
print("Value Counts:\n", data.value_counts())  # 빈도 계산

In [ ]:
import pandas as pd

# Series 생성
data = pd.Series([10, 15, 20, 25, 30])

# 다양한 메서드 활용
print("Minimum:", data.min())          # 최소값
print("Maximum:", data.max())          # 최대값
print("Standard Deviation:", data.std())  # 표준편차
print("Variance:", data.var())          # 분산
print("Number of Unique Values:", data.nunique())  # 고유값 개수

# 데이터프레임 요약
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 55000, 60000, 65000, 70000]
})
print("\nDataFrame Summary:\n", df.describe())
print("\nDataFrame Info:")
df.info()

In [ ]:
print(df)

In [ ]:
# 결측치 확인 isnull -> null이 아니면 false null이면 True
print(df['Age'].isnull())

In [ ]:
df.info()

In [ ]:
# series 메서드 활용

import pandas as pd

# Series 생성
data = pd.Series([10, 20, 20, 30, 30, 30, 40])

# sum(), mean(), value_counts() 사용 예시
print("Sum:", data.sum())           # 합계
print("Mean:", data.mean())         # 평균
print("Value Counts:\n", data.value_counts())  # 빈도 계산

In [ ]:
import pandas as pd

# Series 생성
data = pd.Series([10, 15, 20, 25, 30, 10, 15, 20])

# 다양한 메서드 활용
print("Minimum:", data.min())          # 최소값
print("Maximum:", data.max())          # 최대값
print("Standard Deviation:", data.std())  # 표준편차
print("Variance:", data.var())          # 분산
print("Number of Unique Values:", data.nunique())  # 고유값 개수

# 데이터프레임 요약
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 55000, 60000, 65000, 70000]
})
print("\nDataFrame Summary:\n", df.describe())
print("\nDataFrame Info:")
df.info()

In [ ]:
# 실습!
test = pd.read_csv("/content/california_housing_train.csv")
test
# 데이터프레임의 'housing_median_age' 열을 Series로 변환하고 숫자형으로 변환
test_series = test['housing_median_age']

In [ ]:
print(test_series)

In [ ]:
# 각 요소에 1 더하기
test_plus_one = test_series + 1
print("Stars Plus One:\n", test_plus_one.head())

In [ ]:
# 각 요소에 2 곱하기
stars_times_two = stars_series * 2
print("Stars Times Two:\n", stars_times_two.head())

In [ ]:
high_agew = test_series > 30.0
print("High Rating:\n", high_rating.head())

In [ ]:
# 4.0보다 큰 별점 찾기
high_rating = stars_series > 4.0
print("High Rating:\n", high_rating.head())

# 조건을 만족하는 요소만 필터링
filtered_series = stars_series[high_rating]
print("Filtered Series:\n", filtered_series.head())

In [ ]:
# 불린 연산이 가능하다 -> 해당하는 값만 가져올수 있다.
high_age = test_series > 17.0
print("High age:\n", high_age.head())

In [ ]:
# 조건을 만족하는 요소만 필터링
filtered_series = test_series[high_age]
print("Filtered Series:\n", filtered_series.head())

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 열 이름 변경
df = df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'})
print(df)

In [ ]:
# 모든 열 이름 변경
df.columns = ['X', 'Y', 'Z']
print(df)

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

In [ ]:
# 이건 많이 사용하지 않음
# concat / join -> 데이터 결합
df['Salary'] = [50000, 60000, 70000]
print(df)

In [ ]:
# drop(중요)
# Data 컬럼 천개! -> 1. ram 효율을 증대하기 위해서 import할때만 전체 -> 작업 필요한 변수!

df = df.drop('Age', axis=1)
print(df)

In [ ]:
# 'Salary'라는 새 열 추가
df['Salary'] = [50000, 60000, 70000]
print(df)

In [ ]:
# 'Age' 열 삭제
df = df.drop('Age', axis=1)
print(df)

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# 가로로 연결 (열 방향)
result = pd.concat([df1, df2], axis=1) #axis=1을 설정하여 열 방향으로 연결합니다.

print(result)

In [ ]:
print(df1)

In [ ]:
print(df2)

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# 세로로 연결 (행 방향)
result = pd.concat([df1, df2]) # 기본적으로 axis=0이 설정되어 행 방향으로 연결됩니다.

print(result)

In [ ]:
import pandas as pd

# Sample DataFrames with different column names
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})

# 가로로 연결 (열 방향) - 열 이름 다름
result = pd.concat([df1, df2], axis=1, ignore_index=True)

print(result)

In [ ]:
# 어떨때 사용할까요?
# 2023년 1월 ~ 2024 1월 -> 분석열심히했다.
# 2024 2월 신규로 왔다.


# 인덱스가 다를 때 세로 연결
# 인덱스가 중복되지 않도록 설정하려면 **`ignore_index=True`** 옵션을 사용합니다.

import pandas as pd

# Sample DataFrames with different index
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[2, 3])

# 세로로 연결 (행 방향) - 인덱스 다름
result = pd.concat([df1, df2], ignore_index=True)

print(result)

# EDA 실습

In [ ]:
import pandas as pd
dataset = pd.read_csv('/content/The-Big-List-20231127-Reviews-to-4650.csv', encoding='latin1')

In [ ]:
dataset.head()

In [ ]:
dataset.info()

In [ ]:
dataset.describe()

In [ ]:
print(dataset['Brand'].value_counts())

In [ ]:
# 고유값 확인 -> 중복되지 않는 값!
dataset.nunique()

In [ ]:
#총 데이터셋 4650, 7개의 컬럼!

In [ ]:
#결측치 제거
# True = 1 False = 0
print(dataset.isnull().sum()) # null의 갯수가 sum

In [ ]:
# 'Age' 열 삭제
dataset = dataset.drop('T', axis=1)

In [ ]:
dataset

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset.info()

In [ ]:
# 문자형을 숫자로 변경하는 방법 1. astype 2. to_numeric
dataset['Stars'] = pd.to_numeric(dataset['Stars'], errors='coerce')

In [ ]:
# IQR 기반 이상치 제거
Q1 = df['Stars'].quantile(0.25)
Q3 = df['Stars'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['Stars'] < (Q1 - 1.5 * IQR)) | (df['Stars'] > (Q3 + 1.5 * IQR)))]

In [ ]:
# 박스플롯을 사용한 이상치 탐지
import matplotlib.pyplot as plt

plt.boxplot(dataset['Stars'])
plt.title('Boxplot of Stars Ratings')
plt.show()

In [ ]:
# 중복 데이터 확인 - duplicated()
duplicates_count = df.duplicated().sum()
print(duplicates_count)

In [ ]:
dataset.describe()

In [ ]:
# 중복 데이터 확인 - duplicated()
duplicates_count = df.duplicated().sum()
print(duplicates_count)

In [ ]:
# 전체 데이터에 대한 중복 제거
df = df.drop_duplicates()

In [ ]:
# 특정 컬럼에 대한 중복 제거
# 예: 'Brand' 컬럼 기준 중복 제거
df = df.drop_duplicates(subset=['Brand'])

In [ ]:
dataset = pd.read_csv('/content/The-Big-List-20231127-Reviews-to-4650.csv', encoding='latin1')  # 인코딩이 필요한 경우 변경

# 'Stars' 컬럼의 비숫자 값을 NaN으로 변환
dataset['Stars'] = pd.to_numeric(dataset['Stars'], errors='coerce')

# NaN 값 제거
dataset = dataset.dropna(subset=['Stars'])

# 'Stars' 컬럼에 대한 박스플롯 생성
plt.boxplot(dataset['Stars'])
plt.title('Boxplot of Stars Ratings')
plt.ylim(1, 5)  # y축 범위를 1에서 5로 설정
plt.show()