<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240119_%EC%98%A4%EB%8A%98%EC%9D%98%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
게임 밸런스 조절

문제 설명
라이캣은 연말 출시할 게임의 게임 난이도를 조절하는 업무를 담당하게 되었습니다.
우선 능력치가 비정상적으로 높은 캐릭터들의 리스트를 뽑고자 합니다.
캐릭터 이름, 공격력, 방어력, 체력, 마력이
리스트로 ['Licat', 98, 30, 21, 60]와 같이 주어졌을 때 모든 능력치의
합이 350 이상이 되는 캐릭터의 이름을 출력하는 solution함수를 완성해주세요.

제한 사항
3 ≤ 캐릭터의 수 ≤ 10
10 ≤ 능력치 ≤ 100
350이 넘는 캐릭터의 이름은 알파벳 순으로 출력합니다.
'''

In [2]:
def solution(characters):
    # 예외 처리: 캐릭터의 수가 3 이상 10 이하가 아니면 메시지를 반환
    if not (3 <= len(characters) <= 10):
        return "캐릭터의 수는 3 이상 10 이하여야 합니다."

    # 능력치가 높은 캐릭터들을 저장할 리스트
    high_stat_chars = []

    # 각 캐릭터에 대해 능력치의 합을 계산하고, 특정 조건을 만족하는 캐릭터를 찾음
    for char in characters:
        stats = char[1:]  # 캐릭터의 능력치 리스트
        # 능력치가 10 이상 100 이하가 아니면 메시지를 반환
        if any(not (10 <= stat <= 100) for stat in stats):
            return "능력치는 10 이상 100 이하여야 합니다"
        # 능력치의 합이 350 이상인 캐릭터를 high_stat_chars에 추가
        if sum(stats) >= 350:
            high_stat_chars.append(char[0])  # 캐릭터의 이름만 추가

    high_stat_chars.sort()  # 능력치가 높은 캐릭터들의 이름을 정렬

    return high_stat_chars  # 능력치가 높은 캐릭터들의 이름을 반환

# 테스트 예시
characters_list = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
result = solution(characters_list)
print(result)

['Licat']

In [ ]:
def solution(data):
    return sorted([character[0] for character in data if sum(character[1:]) >= 350])

In [4]:
def solution(data):
    result = []
    characters = [i[0] for i in data if sum(i[1:]) >= 350]
    return sorted(characters) # 기본 키값이 0

In [ ]:
# 1번
def solution(data):
    strong_characters = []
    for character in data:
        name, *stats = character
        if sum(stats) >= 350:
            strong_characters.append(name)
    return sorted(strong_characters)

In [3]:
def solution(characters):
    result = []

    for character in sorted(characters):
        total_power = sum(character[1:])
        if total_power >= 350:
            result.append(character[0])

    return result

캐릭터능력치 = [
    ['Licat', 98, 92, 85, 97],
    ['Mura', 95, 32, 51, 30],
    ['Binky', 98, 98, 51, 32],
    ['Gray', 98, 92, 85, 97],
    ['Gom', 98, 30, 21, 60],
    ['Allosa', 98, 90, 99, 98],
]

result = solution(캐릭터능력치)
print(result)

['Allosa', 'Gray', 'Licat']

In [ ]:
'''
우편 번호 정렬

문제 설명
각 주소가 담긴 배열과 우편번호 목록이 딕셔너리 형태로 주어질 때 에서 우편번호 오름차순 순서대로 주소를 정렬하는 코드를 작성해주세요.
제한 사항
63002 ≤ 우편번호 ≤ 63364
우편번호는 항상 '시 - 동 - 길' 순으로 주어집니다. 예외사항은 없습니다.
같은 동은 주어지지 않으며, 같은 우편번호도 주어지지 않습니다.
입출력 예
입력
[['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]
출력
['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']
'''

In [ ]:
# 문제 2

def solution(inputs):
    addresses = inputs[0]
    postal_codes = inputs[1]
    sorted_addresses = sorted(addresses, key=lambda address: postal_codes[address.split()[1]])
    return sorted_addresses

In [ ]:
# 2번
def solution(data):
    addresses, post_codes = data
    return sorted(addresses, key=lambda address: post_codes[address.split()[1]])

In [ ]:
def solution(data):
    address, zipcode = data
    result = sorted(address, key = lambda x: zipcode[x.split()[1]])
    return result

In [1]:
def solution(data):
    addresses = [(address, data[1][address.split()[1]]) for address in data[0]]
    sorted_address = sorted(addresses, key= lambda address: address[1])
    return [address[0] for address in sorted_address]

In [ ]:
def solution(data):
    return None

입력 = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

In [ ]:
'''
도서관 책 연도별 정렬
문제 설명
라이캣은 도서관 사서로 일하게 되었습니다.
도서관에 있는 책들의 제목과 해당 책들의 발행 연도가 딕셔너리 형태로 주어집니다.
라이캣을 도와 주어진 책들을 발행 연도가 오래된 순서대로 정렬하는 코드를 작성해주세요.
발행 연도가 같은 경우에는 제목의 사전순으로 정렬하세요.

제한 사항
발행 연도는 1900년부터 2024년 사이입니다.
책 제목은 모두 영문으로 되어 있으며, 대소문자를 구분합니다.
동일한 제목의 책은 존재하지 않습니다.
책의 제목은 공백을 포함할 수 있습니다.

입출력 예
입력
[['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
출력
['Moby Dick', '1984', 'To Kill a Mockingbird']
'''

In [ ]:
# 문제 3

def solution(data):
    book_name = data[0]
    book_years = data[1]

    book_sorted = sorted(book_name, key = lambda book_name : book_years[book_name])

    return book_sorted

solution([['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}])

In [ ]:
# 3번
def solution(data):
    books, publish_years = data
    sorted_books = sorted(books, key=lambda x: (publish_years[x], x))

    return sorted_books

In [ ]:
data = [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
book_name = data[0]
book_years = data[1]
\
sorted(book_name, key = lambda book_name : book_years[book_name])

In [ ]:
def solution(data):
    books_info = sorted(data[1].items(), key= lambda info: info[1])
    return [book[0] for book in books_info]

In [ ]:
def solution(data):
    name, year = data
    result = sorted(name, key=lambda x: year[x])
    return result