<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240118_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 버전별 변동사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
# 실무에서 사용하시는 분 아무도 못봤습니다.
# 그래서 복습X
# 정말 좋은 기능인데....

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

In [ ]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

# 파일 입출력

In [ ]:
* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()
# 파일을 열었으면 꼭 닫아야 한다. 메모리가 살아있어 리소스를 많이씀.

In [ ]:
# 그래서 위에 문법보다 아래 문법을 사용한다. 아래 문법은 닫아줄 필요없음.
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1 - 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션 2 - 엑셀로 각각 정보 정리

# 미션 3 - # html로 table로 정리하기 => table 클릭하면 정렬되게 하기(JS를 배우셨으면 했을텐데ㅜㅜ 나중에 해보세요.)

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리
list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(str(db_data), 'html.parser')
# json_data = json.loads(soup.text)
# json_data

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
# 부록
# 엑셀라이터
# 복습X

In [ ]:
!pip3 install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 2.7 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
# request나 bs4 기본 모듈 아닌데 colab에 깔려 있는 것입니다.
# 데스크톱에서 깔려있는지 확인하시지 않고 실행시키면 모듈이 없다고 나옵니다.

In [ ]:
# 워크북(엑셀파일 1개입니다.)
# 워크시트(sheet이라고 아래 여러개의 sheet을 만들 수 있습니다.)
# 셀(네모 칸 하나)

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'hojun')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

A4 50
B4 70
C4 90

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로
# 메크로 작동 로직 => 엑셀

In [ ]:
# 미션 3
# html로 table로 정리하기
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
db_data

NameError: name 'db_data' is not defined

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
for i, _ in enumerate(db_data):
    s += f'''
        <tr>
                <td>{db_data[i]["_id"]}</td>
                <td>{db_data[i]["index"]}</td>
                <td>{db_data[i]["name"]}</td>
                <td>{db_data[i]["email"]}</td>
                <td>{db_data[i]["phone"]}</td>
                <td>{db_data[i]["country"]}</td>
                <td>{db_data[i]["address"]}</td>
                <td>{db_data[i]["job"]}</td>
        </tr>
        '''
s += '</table>'
s

In [ ]:
'''
for item in db_data:
    s += f'''
        <tr>
            <td>{item["_id"]}</td>
            <td>{item["index"]}</td>
            <td>{item["name"]}</td>
            <td>{item["email"]}</td>
            <td>{item["phone"]}</td>
            <td>{item["country"]}</td>
            <td>{item["address"]}</td>
            <td>{item["job"]}</td>
        </tr>
    '''

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''

s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [ ]:
f = open('test.html', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line, end='')
f.close()

In [ ]:
f = open('test.html', 'r')
data = f.read()
print(data)
f.close()

# 비트 연산

In [ ]:
# 실무에서 비트연산을 하는 경우가 거~~~의 없습니다.
# 알고리즘 테스트에서 CS지식 정도를 테스트 하는 용도로 간혹 출제가 됩니다.
# 진법: 수학 기초 상식

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 * (10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 * (16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

# 01 10

In [ ]:
# 진법 변환 팁
# 10진 == 2진
# 1 == 1
# 2 == 10
# 4 == 100
# 8 == 1000
# 16 == 10000

# 9는? 8 + 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111

In [ ]:
# 3 & 9 (and)

# 0011
# 1001
# ----
# 0001

In [ ]:
# 3 | 9 (or)

# 0011
# 1001
# ----
# 1011 => 11

In [1]:
3 | 9

11

In [ ]:
# 복습 XXX
# 8개의 비트(bit)를 숫자로 사용할 수 있습니다.
# 8개 비트 사용하면 1개를 부호 비트
00000000
00000001 == 1
11111110 == -1
11111111 + 1 => 00000000(우리가 원하는 값)

In [ ]:
# 매개변수	값
# n	5
# arr1	[9, 20, 28, 18, 11]
# arr2	[30, 1, 21, 17, 28]
# 출력	["#####","# # #", "### #", "# ##", "#####"]

In [ ]:
매개변수	값
n	5
arr1	[9, 20, 28, 18, 11]
arr2	[30, 1, 21, 17, 28]
출력	["#####","# # #", "### #", "# ##", "#####"]

In [2]:
9 | 30

31

In [ ]:
9 | 30
bin(9 | 30)
bin(9 | 30)[2:]
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

for i, j in zip(arr1, arr2):
    print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

In [ ]:
bin(31) # 2진법 변환  '0b11111'
oct(31) # 8진법 변환  '0o37'
hex(31) # 16진법 변환 '0x1f'

int('0b11111', 2) # 2진수를 10진수로 변환
int('11111', 2) # 2진수를 10진수로 변환

In [4]:
bin(31) # 2진법 변환 바이너리

'0b11111'

In [5]:
oct(31) # 8진법 변환 옥타

'0o37'

In [6]:
hex(31) # 16진법 변환 헥사

'0x1f'

In [8]:
int('0b11111', 2)

31

In [9]:
int('11111', 2)

31

#f-string 문법

In [10]:
# print에 들어가는 문자열 만들기

'제 이름은 %s이고 제 나이는 %d 입니다.'%('이호준', 10) # % 용법

'제 이름은 이호준이고 제 나이는 10 입니다.'

In [11]:
'제 이름은 {}이고 제 나이는 {} 입니다.'.format('이호준', 10) # format 용법(이 문법도 아직 사용함)

'제 이름은 이호준이고 제 나이는 10 입니다.'

In [ ]:
f'제 이름은 {name}이고 제 나이는 {age} 입니다.' # f-string 용법(1st 권고)

In [12]:
삼 = '짝'*3
칠 = '짝'*7

print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼, 칠))

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [13]:
삼 = '짝'*3
칠 = '짝'*7

print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [14]:
삼 = '짝'*3
칠 = '짝'*7

print(f'삼삼칠 박수 :  {삼*2}!!! {삼}!!! {칠}!!! ') # {}안에서 연산하는 것은 가독성을 해칠 우려가 있습니다.

삼삼칠 박수 :  짝짝짝짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [ ]:
one_length = 5.343123123

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

In [24]:
# log 출력할 때 가운데 정렬은 많이 사용합니다.
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세') # 가운데 정렬만 외우고 있으면됨
print(f'당신의 나이는 [{age:<15}]세')
print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:=^15}]세')
print(f'당신의 나이는 [{age:#^15}]세')
print(f'###########{age}###########')
# 이런식으로 하셔도 되니 부담되시면 잠시 우선순위는 뒤로 밀어두셔도 괜찮습니다.

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [100            ]세
당신의 나이는 [            100]세
당신의 나이는 [======100======]세
당신의 나이는 [######100######]세
###########100###########

In [21]:
age = 10

print(f"My set is {age*2}.")  # 출력: My set is {1, 2, 3}.
print(f"My set is {{age*2}}.")  # 중괄호도 표현하고 싶을때 중괄호를 두번 겹쳐 쓴다.
print(f"My set is {{{age*2}}}.")  # 중괄호도 표현하고 연산도 하고 싶을떄 괄호를 한번더 써준다.

My set is 20.
My set is {age*2}.
My set is {20}.

In [23]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')

l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [22]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [25]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [26]:
import nest_asyncio

nest_asyncio.apply()

In [27]:
import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [28]:
# colab에서 작동하는 코드이나 기본 base 에서는 작동하지 않습니다.

import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

asyncio.run(main())
print('hello world')

Job 1 started
Job 2 started
Job 3 started
Job 1 completed
Job 2 completed
Job 3 completed
hello world

In [29]:
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1)  # 매우 오래 걸리는 작업
    print(f"Job {number} completed")

asyncio.run(job(1))
asyncio.run(job(2))
asyncio.run(job(3))

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [30]:
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1)  # 매우 오래 걸리는 작업
    print(f"Job {number} completed")

await job(1)
await job(2)
await job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [31]:
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1)  # 매우 오래 걸리는 작업
    print(f"Job {number} completed")

async def main():
    await job(1)
    await job(2)
    await job(3)

asyncio.run(main())

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [ ]:
async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않습니다!

In [ ]:
async def job():
    print('job')

async def main():
    return await job()

print(main) # <coroutine object main at 0x7fc8cb22bf40>
print(await main()) # None

#정규표현식

In [ ]:
# 별 2개 + @
# 유효성 검증(validator), 문자열 처리, 코딩 테스트(1문제 필수)
# 다른 언어에서도 사용할 수 있습니다.

In [ ]:
# https://regexr.com/5nvc2
# 1번 일반 문자열 패턴
# hello world
# Hello
# ^hello
# hello$
# ^hello$
# .
# .....
# h[eao]llo
# .[eao]llo
# ^h[eao]llo$
# h[a-zA-Z0-9]llo
# h[a-zA-Z]llo
# 010-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]
# 010.[0-9][0-9][0-9][0-9].[0-9][0-9][0-9][0-9]
# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9]
# [^a-zA-Z0-9]: 나머지 문자열을 찾음 # ^는 대괄호 안에서는 '부정'
# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개
# 010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9]

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개
# 010[- .]?[0-9]{4}[- .]?[0-9]{4}

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

# /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm

# 전화번호
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm

# 이메일
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
# ^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
# .....@----....


# /\w/gm : 워드 # 많이 사용
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드 # 많이 사용
# /\d/gm : 숫자 # 많이 사용
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# ^\d{3}[- .]?\d{3,4}[- .]?\d{4}$

# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# \[.*] : 에스터리스크는 0개에서 n
# \[.*\], \[.*\]

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')
compile() : 패턴 컴파일
match() : 문자열의 앞 부분이 매치되는가를 체크, 추출
sub() : 매치된 부분을 치환 (str에 replace와 같은 역활)
search() : 선두에 한해서 매치하는지를 체크, 추출
findall() : 매치된 부분 모두 리스트 반환
finditer() : 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 리턴한다.
spilt() : 정규표현 패턴으로 문자열을 분할 (str에 split과 같은 역활)

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

# 자주 사용하는 메서드
sub() : 매치된 부분을 치환 (str에 replace와 같은 역활) # 가장 많이 사용.
findall() : 매치된 부분 모두 리스트 반환

In [ ]:
# 1S // 2D* // 3T
# 스타상, 아차상은 빼고 진행

l = []
for i in '1S2D*3T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3
sum(l)

In [ ]:
# 1S // 2D* // 3T
# 스타상, 아차상은 빼고 진행

l = []
for i in '1S2D*10T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3
l

In [32]:
import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'))
list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S10D*10T'))

[('1', 'S', ''), ('10', 'D', '*'), ('10', 'T', '')]

In [33]:
d = {
    'S':1,
    'D':2,
    'T':3
}
for 점수, 승수, 상 in re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*10T'):
    print(int(점수) ** d[승수])

1
4
1000

In [35]:
# https://pyalgo.co.kr/?page=2#

re.findall(r'([rev])(10|[0-9])', 'a10b9r1ce33uab8wc918v2cv11v9')

[('r', '1'), ('e', '3'), ('v', '2'), ('v', '1'), ('v', '9')]

## sub

In [36]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [37]:
"nice to meet you".replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

'nc t mt y'

In [38]:
# 복습 X
# dir("nice to meet you")
s = "nice to meet you"
ch = s.maketrans("aeiou", "!!!!!")

print(s.translate(ch))

n!c! t! m!!t y!!

In [39]:
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
# 문제: 아래 문자열에서 모든 문자를 제거하고 숫자만 모두 더해주세요.
'hello1928ljwlie123slie21e1j3'

In [41]:
import re

def solution(my_string):
    return re.sub(r"[a-zA-Z]", "", my_string)

solution('hello1928ljwlie123slie21e1j3')

'19281232113'

In [ ]:
# 복습 X
import re


def solution(my_string):
    return sum(map(int, list(re.sub(r"[a-zA-Z]", "", my_string))))

solution('hello1928ljwlie123slie21e1j3')

In [42]:
list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3'))
list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))

['1928', '123', '21', '1', '3']

In [ ]:
import re

def solution(my_string):
    return re.sub(r"[a-zA-Z]", "", my_string)

solution('hello1928ljwlie123slie21e1j3')

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

In [43]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('\d', '', my_string)

'aAbBcCoOp'

In [44]:
# 복습 X
import re

print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1]-[\2]-[\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

010!5000!3000
010/5000/3000
[010][5000][3000]
[010]-[5000]-[3000]
지역번호: 010 전화번호: 50003000

In [ ]:
# 복습 XXX
# 시니어때는 이런 문법을 사용할일이 종종 발생됨.
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

In [45]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'\1', markdown)
    html = re.sub(r'## (.*)', r'\1', html)
    html = re.sub(r'# (.*)', r'\1', html)
    html = re.sub(r'`(.*)`', r'\1', html)
    html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    html = re.sub(r'_(.*)_', r'\1', html)
    html = re.sub(r'~~(.*)~~', r'\1', html)
    html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

This is a h1
This is a h2
This is a h3
#This is a h4
##This is a h5
###This is a h6

* This is a bulleted list
  * This is a nested bulleted list

This is bold text

This is italic text

This text is strikethrough

In [46]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', markdown)
    # html = re.sub(r'## (.*)', r'\1', html)
    # html = re.sub(r'### (.*)', r'\1', html)
    # html = re.sub(r'`(.*)`', r'\1', html)
    # html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    # html = re.sub(r'_(.*)_', r'\1', html)
    # html = re.sub(r'~~(.*)~~', r'\1', html)
    # html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
#<h1>This is a h2</h1>
##<h1>This is a h3</h1>
###<h1>This is a h4</h1>
####<h1>This is a h5</h1>
#####<h1>This is a h6</h1>

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~

In [ ]:
# 복습 XXX
# 시니어 때에는 이런 문법을 사용하실 일이 종종 생깁니다.
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'\1', text)
text = re.sub(r'^# (.*)', r'\1', text, flags=re.M)
text = re.sub(r'^## (.*)', r'\1', text, flags=re.M)
text