<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240109_if_%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if
    1. 조건문

In [ ]:
# 1.1. if문의 기본 구조

# if 다음에 조건이 참인 경우에만 코드블록이 실행된다.

# x = 2일때
# x = 1일때
# x = 0일떄

x = 0 # 비교할 대상

if x > 1: # 비교 식 -> 비교식이 참일 경우에 하단의  print('True')가 실행됨.
    print('True') # 출력: True

    # 참이 아닌경우에는 조건식이 실행되지 않는다.

True

In [ ]:
# 결국 x = 2일때 if x > 1은 => True
if True:
    print('True') # 출력: True

True

In [ ]:
# 결국 x = 2일때 if x > 1은 => True
if 1:
    print('True') # 출력은 True

True

In [ ]:
## 1.2 참과 거짓으로 평가
# True 일땐 1이고 아니면 False면 0
if " ":
    print('hello') # 출력: True

hello

In [ ]:
# if문 안에 있는 코드블럭과 바깥에 있는 코드블럭

if 0: # 정수를 바꿔서 실습해 보세요.
    print('hello')

print('end') # 2번 출력

end

In [ ]:
if 10 and [1, 2, 3]: # True나 False가 아니라 단락평가에 의해 [1, 2, 3]
    print('hello')

hello

In [ ]:
# 공백이 있는 문자열
if ' ': # True
    print('hello')
print('end')

# 공백이 없는 문자열
if '': # False
    print('hello')
print('end')

hello
end
end

In [ ]:
if not '':
    print('hello')
print('end')

if None: # None은 False로 처리됩니다.
    print('hello')
print('end')

if not None:
    print('hello')
print('end')

hello
end
end
hello
end

In [ ]:
# 성능에 영향을 끼칩니다!

# f() 함수 아큐먼트 x, 파라미터 x
def f():
    return True

# f() 함수 아큐먼트 x, 파라미터 x
def ff():
    x = 100 / 0 # error
    return 'hello' # 실행되지 않았으면 하는 함수

if f() or ff(): #f() ff() -> 하나의 조건에 불과, 리소스를 줄이는게 중요하다.
    print('hello') # 출력: hello

hello

In [ ]:
# 2.4 삼항 연산자

x = 5
y = 10
result = 'x가 더 큽니다' if x > y else 'y와 같거나 y가 더 큽니다.'
print(result) # 출력: 'y와 같거나 y가 더 큽니다.'

y와 같거나 y가 더 큽니다.

# 조건문과 람다 함수

* 익명함수 - 한줄로 표현 / 임시 함수 만들떄 사용

In [ ]:
# 예) 두 숫자를 더하는 간단한 람다함수를 만든다.

#def sum(x, y):
#    z = x + y
#    return z

add = lambda x, y : x + y
print(add(5, 3))

8

In [ ]:
# 홀짝!
my_function = lambda x: 'Even' if x % 2 == 0 else 'Odd'

# if, elif, else와 중첩 **조건문**

In [ ]:
# if, else 문의 기본구조
if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들을 수행합니다.
    pass
    # 수행할 문장 1 - 참일 경우에는 수행할 문장 1이 실행
else: # if문의 조건이 거짓이면 else 문이 실행됩니다,
    pass
    # 수행할 문장 2 - if에 조건문이 거짓일 경우 else에 있는 수행할 문장 2가 실행

In [ ]:
x = 3
y = 1

if x > y:
    print('첫번째 값이 더 큽니다.')
else:
    print('두번째 값이 더 크거나 같습니다.') # 거짓일때 수행

첫번째 값이 더 큽니다.

In [ ]:
# if, elif, else문의 기본구조
# 조건이 늘어나면 elif만 추가하면 된다. if else는 그대로!
# elif에는 조건식이 필요하다. 단 다른 조건과 겹치지 않게! (조건을 나누는 중요)
if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들은 수행합니다.
	  # 수행할 문장 1
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass
else: # 위 모든 if문, elif문의 조건이 '참'이 아니라면 수행합니다.
	  # 수행할 문장 3
    pass #임시로 패쓰라 써놓은 것임.

SyntaxError: invalid syntax (<ipython-input-19-e22637ed1adf>, line 6)

In [ ]:
score = int(input("성적을 입력하세요 (0-100: "))

# 잘못된 예

if score >= 90:# 90점 이상일때
    print("A")
elif 89 >= score >= 80:  # 80점 이상 89점 이상일떄
    print("B")
elif 79 >= score >= 70:  # 70점 이상 79점 이상일떄
    print("C")
elif 69 >= score >= 60:  # 60점 이상 69점 이상일떄
    print("D")
else:
    print("F")

# 테스트를 다양하게 해주는게 좋다.

성적을 입력하세요 (0-100: 89
B

In [ ]:
# 위에 if elif else 문을 아래처럼 줄여서 사용해도 전혀 무방하다(동일함)

score = int(input("성적을 입력하세요 (0-100): "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

In [ ]:
score = 81
money = 0

# 1개의 if문 (중첩 조건문)

if score >= 90:
    money += 1000000
elif score >= 80:
    money += 100000
elif score >= 70:
    money += 10000
elif score >= 60:
    money += 1000
else:
    money = 0
print(money) # 출력: 100000

100000

In [ ]:
score = 81
money = 0

# 총 4개의 if문!
if score >= 90:
    money += 1000000
if score >= 80:
    money += 100000
if score >= 70:
  money += 10000
if score >= 60:
    money += 1000
else:
    money = 0
print(money) # 출력: 100000

111000

In [ ]:
score = 81
money = 0

# 이렇게 스코어를 가운데 데이터 사이 두면 반복되는 if문이 중첩되어 나오진 않는다.

if score >= 90:
    money += 1000000
    if 90 > score >= 80:
        money += 100000
        if 80 > score >= 70:
            money += 10000
            if 70 > score >= 60:
                money += 1000
    else:
    money = 0
print(money)

IndentationError: expected an indented block after 'else' statement on line 14 (<ipython-input-30-bc3408ec32c9>, line 15)

In [ ]:
# 중첩 if - elif문 사용하기

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == '드라마':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청') # 출력: 영화시청

영화시청

In [ ]:
if movie['장르'] == '드라마':
    and movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
    and movie['평점'] >= 4.5:
    and movie['비용'] <= 20000:
                print('영화시청') # 출력: 영화시청

In [ ]:
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!') # 출력: 왓챠 구독하기!

# # for문

for문은 특정 범위나 순서열(ex 리스트, 문자열 등)을 순회하며 순서열의 끝에 도달하면 반복을 멈추게 됩니다. 또한 객체를 처음부터 끝까지 하나씩 **추출하며 순회**하기 때문에 다양한 방식으로 활용될 수 있습니다.

In [ ]:
# 함수
def 함수명():
    pass

In [ ]:
#조건문
if 조건:
    pass

In [ ]:
#반복문
for 변수명 in 순회_가능한_객체:
    pass # 수행할_문장

In [ ]:
#반복문 기초 - 문자열
#1. 'hello'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하나씩 for문 아래 코드블럭을 수행한다.
#4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.

for x in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [ ]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [ ]:
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
s = '123'
result = 0
for i in s:
    result += int(i)

In [ ]:
# 딕셔너리 자료형은 키 값만 나온다.
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [ ]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나 : one
둘 : two
셋 : three

In [ ]:
# 짝수코드 작성!

result = 0
for i in range(101): #0~100까지 시쿼스 자료형을 불러온다.
    if i % 2 == 0:   # 0~100까지 중에서 짝수만 가져온다.
       result += i    # 짝수를 가져와서 누적으로 더한다. 0, 2, 4, 6, ... 100 까지 더한다.

print(result) # 출력한다.

2550

In [ ]:
# 위에보다 효율적인 코드 작성 출력은 동일함
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

In [ ]:
# 짝수코드 작성!

result = 0
for i in range(101): #0~100까지 시쿼스 자료형을 불러온다.
    if i % 2 != 0:   # 0~100까지 중에서 짝수만 가져온다.
       result += i    # 짝수를 가져와서 누적으로 더한다. 0, 2, 4, 6, ... 100 까지 더한다.

print(result) # 출력한다.

2500

In [ ]:
# 중첩 반복문

In [ ]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

[1, 2]
[10, 20]
[100, 200]

In [ ]:
# code2
for j in [1, 2]:
    print(j)

1
2

In [ ]:
for i in [[1, 2], [10, 20], [100, 200]]:
    # code 2
    for j in i:
        print(j)
#첫번째 반복에서 내부 리스트를 출력하고 두번째 반복에서 출력한 내부리스트의 요소를 출력합니다

1
2
10
20
100
200

In [ ]:
# 직관적으로 보기위해 프린트를 추가해봤다.
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i: #for 문을 두번 사용해서 리스트 안에 리스트 값을 출력함.
        print(i)
        print(j)

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

In [ ]:
# 강사님 추천 문장.
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    for j in i: #for 문을 두번 사용해서 리스트 안에 리스트 값을 출력함.
        print(j)

[1, 2]
1
2
[10, 20]
10
20
[100, 200]
100
200

In [ ]:
for i in range(1, 20): # i라는 시퀀스 자료형을 2~19 까지 가져온다
    print(f'---{i}단---') # i 값을 받아 프린트
    for j in range(1, 20): # j라는 시퀀스 자료형을 1에서 19까지 가져온다.
        print(f'{i} X {j} = {i * j}') # i값 x j값 = {I와j값을 곱한 값을 표시} 표 프린트해준다.

# 컴프리헨션(comprehension)

In [ ]:
# 리스트 컴프리헨션
# step1 list안에 for문을 가져옵니다.
#[for]
a = [1 for i in range(1, 10)]
b = [i*2 for i in range(1, 10)]
print(a, b)

[1, 1, 1, 1, 1, 1, 1, 1, 1] [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 리스트 컴프리헨션
a = [1 for i in range(1, 10) if i % 2 == 0]
print(i)

19

In [ ]:
#  중첩된 반복문과 중첩된 컴프리헨션
# 리스트 컴프리헨션: 중첩된 반복문

c = [f'{i} x {j} = {i*j}' for I in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [ ]:
def sumthingFunction(i): # 함수 sumthingFunction(i) 생성
    if i % 100 ==0:     #  i를 100으로 나눈 나머지값이 0일떄
        return i        #  일치하면 i 리턴
    else:               #  일치하지 않으면 0 리턴
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] # l 리스트에 있는 값들을 하나씩 꺼내서, 함수에 태워보고 조건에 맞는
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [ ]:
# 함수 내 람다 사용법 사용할수 있으나 권장드리지 않음.

l = [100, 200, 300, 101, 202, 303]
l2 =[(lambda x : x * x)(x) for x in l]
print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

In [ ]:
# 딕셔너리 컴프리헨션

# 전통적 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}

In [ ]:
# 딕셔너리 컴프리헨션

# 전통적 방법
d = {}
for i in range(5):
    d[i] = i**2
print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# 복합 자료형 순회 (for문)

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [ ]:
# enumerate 활용

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i, j in enumerate(영화누적관객수, 100):
    print(f'누적관객수 {i}위! {j}!')

누적관객수 100위! 레미제라블!
누적관객수 101위! 뷰티인사이트!
누적관객수 102위! 매트릭스!
누적관객수 103위! 인셉션!
누적관객수 104위! 어거스트 러쉬!

In [ ]:
for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!') # i에는 index값 j에는 영화 제목! ,1 -> 1부터 시작!

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
# while문

In [ ]:
while 구문:
    pass # 수행할 문장

NameError: name '구문' is not defined

In [ ]:
#while문 기초

a = 1

while a < 10 : # 10이 될떄까지 아래 a += 1 식을 수행합니다.
    print(a)

# a 값이 1인데 10 까지 갈수있는 조건문(식) 이 없으므로 계속해서 print(a) 같은 작업을 수행한다

In [ ]:
#while문 기초

a = 1

while a < 10 : # 10이 될떄까지 아래 a += 1 식을 수행합니다.
    print(a)
    a += 1

# for문 기초
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# for문 기초
for i in range(1,10): # 1에서 10사이 수를 보여줌니다.
    print(i)

1
2
3
4
5
6
7
8
9