<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240116_%EA%B3%A0%EC%B0%A8%ED%95%A8%EC%88%98_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
문제 1

In [ ]:
# 문제 1: 함수를 인자로 받는 고차함수
# 주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를
# 반환하는 고차함수 apply_function을 작성해주세요.

def apply_function(lst, func):
    pass

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

In [8]:
# 예시1

def apply_function(lst, func):
    return [func(x) for x in lst] #  리스트 안에 각각의 값에 함수 func(x *2)를 해준다.

result = apply_function([1, 2, 3, 4], lambda x: x * 2) #람다(익명)함수를 이용해 x는 x * 2가 되도록 정의해주었다.
print(result)
# 람다 함수는 주로 간단한 함수를 한 줄로 표현할 때 사용되며, 고차 함수와 함께 자주 사용된다고 한다.

[2, 4, 6, 8]

In [11]:
# 예시2

def apply_function(lst, func):
    result = []
    for x in lst:
        result.append(func(x)) # append 사용하여 리스트에 람다 x 함수를 대입해 출력할수도 있다.
    return result


result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)

None

# 문제 2

In [ ]:
# 문제 2: 함수를 반환하는 고차함수
# 정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수
#multiply_by_n을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

def multiply_by_n(n):
    pass

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

In [13]:
def multiply_by_n(n): # 파라미터 인자 n은 곱할 정수(int) 5가 되시겠다.
    return lambda x: n * x #람다 x는 n 값에 다른 정수 x를 곱하여 반환하게된다.

multiplier = multiply_by_n(5)
print(multiplier(3))

# 'multiply_by_n(5)'먼저 호출하여 multiplier 변수에 반환된 람다 함수를 할당하고,
# multiplier(3)을 호출하여 5 * 3을 계산하여 15가 출력 된다.

15