<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240104_%EB%85%BC%EB%A6%AC%EC%97%B0%EC%82%B0_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#논리연산 (AND, OR, NOT) 이 있고 값은 True 또는 False로 표현됨

In [2]:
# 활용예시 1

num = 15
result = num > 10 and num < 20
print(result) # 결과: True

True

In [3]:
# 활용예시 2


for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [4]:
# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일수 있다.

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [5]:
lst = []
if lst and lst[0] > 3:
    print("리스트의 첫 번째 원소는 3보다 큽니다.")

파이썬에서 0 and 1의 결과는 무엇인가요?
0
1
True
False

In [7]:
0 and 1

0

In [8]:
bool(0 and 1)

False

# 2. 할당 연산

In [11]:
x = 5
y = 2
z = 10

x1 = y * z # 20 = 2 * 10
x2 = x +(y * z) # 25 = 5 + (2*10)
x += y * z # y * z 연산 후 x 에 더한 뒤에 할당된다.

print(x1)
print(x2)
print(x)

20
25
25

In [23]:
a = 10
b = 2
a /= b #나눗셈 대입
a = a // b

In [18]:
 a = 3
 a *= 2 + 4
 print(a)

18

In [20]:
 a = 3
 a = 2 + 4 * 3
 print(a)

14

In [25]:
#식별연산 is 와 is not를 사용하여 두 변수가 같은 주에 있으면 트루 다르면 펄스

# 1.동일인 확인


coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [27]:
# is 연산자가 id를 기준으로 주소가 같은지 찾는 것이라면 == 비교 연산자는 값이 같은지 찾는 것

a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [29]:
x = [1, 2, 3] # 리스트 데이터 주소가 달라진다
y = x
z = [1, 2, 3] # 리스트 데이터 주소가 달라진다

print(id(x))  # 예: 139760050602048
print(id(y))  # 예: 139760050602048
print(id(z))  # 예: 139760050602888

#그래서 x와 y의 ==연산시 값을 비교해서 같다고 나오나, is 연산시 주소 add id가 달라져 False 가 표출됨.

138324571355392
138324571355392
138324547568448

In [ ]:
# 멤버연산(in 구문)
# 멤버 연산은 어떤 값이 목록 안에 있는지 확인해주는 기능입니다. in과 not in 두 가지 방법으로 확인할 수 있습니다.
'''
in
값이 목록 안에 있으면 참(True)이에요.
not in
값이 목록 안에 없으면 참(True)이에요.

#💡 is는 is not이고 in은 not in입니다.
'''

In [31]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

#[1, [2], 3, 4] 리스트안에 리스트가 들어갈수있음

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True

In [32]:
# dict와 set에 대해서도 살펴보도록 하겠습니다.

a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20} #set
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
# {'key1':'value1'} in a # error

False

In [34]:
 fruits = ["사과", "바나나", "포도"]
 print("체리" not in fruits)

True

In [35]:
 greeting = "안녕하세요"
 print("안녕" in greeting)

True

In [36]:
 result = 2 + 3 * 4
 print(result)

14

In [37]:
 result = 10 / 2 * 4 - 3
 print(result)

17.0

In [39]:
 result = 2 ** 3 * 3 + 4 / 2 - 5
 #####이해가 되나 안된다 다시 봐야겠다. 4/2를 먼저하고 앞에 제곱곱하긴한 24에 더해줘야한다

 print(result)

21.0

#연습문제 1~4번

In [60]:
#1번

a = 100
print(a > 100) and (a < 200)
print(a > 100) or (a < 200)
print(a >= 100) and (a <= 200)
print(a >= 100) or (a <= 200)

# 내예상 F,T,T,T

False
False
True
True

True

In [63]:
x = 25 % 2
y = 25 % 5
print(x)
print(y)

1
0

In [44]:
# 다음 코드의 실행 결과값을 예상해보세요
b = 25
(b % 2 == 0) and (b % 5 == 0)

False

In [48]:
#변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요

c = 1000/100
print(int(c))
# 결과값은 10입니다. # 내가 한 코딩

10

In [64]:
c = 1000
c // 100 # 강사님이 하신 코딩

10

In [55]:
x = input
input("금액을 넣어주세요: ")

금액을 넣어주세요: 1000

'1000'

In [57]:
x = input("금액을 넣어주세요: ")
result = x + '원'
print(result) # 내가한 코딩

금액을 넣어주세요: 1000
1000원

In [66]:
#4번 (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
#1. 금액을 입력 받는다. Or 금액에 대한 변수 필요
#2. 5000부터 100까지 거스름돈을 어떻게 줄지 생각해본다.
#3. 결론적으로 모든 거스름돈을 출력해서 -> (서비스) 캐셔 지폐교환기 -> 돈을 거슬러주면

money = int(input("거스름돈을 출력하세요: ")) #강사님

거스름돈을 출력하세요: 8909

In [67]:
print(money)

8909

In [68]:
# 5000원 지폐 개수 개산!
# 5000으로 나눠서 나눗셈된 값(몫) -> 5000원권 얼마나 거슬러 줘야하는가?

num_5000 = money // 5000

In [69]:
print(num_5000)

1

In [71]:
money -= (num_5000 * 5000)

In [72]:
print(money)

3909

In [73]:
num_1000 = money // 1000
money -= (num_1000 * 1000)

In [74]:
print(num_1000, money)

3 909

In [75]:
num_500 = money // 500
money -= (num_500 * 500)

In [76]:
print(num_500, money)

1 409

In [77]:
num_100 = money // 100
money -= (num_100 * 100)
print(num_100, money)

4 9

In [78]:
num_10 = money // 10
money -= (num_10 * 10)
print(num_10, money)

0 9

In [79]:
print(f"5000원의 개수는 ",num_5000,"개 입니다.") #9,980원
print(f"5000원의 개수는 {num_5000} 개 입니다.") #9,980원

5000원의 개수는  1 개 입니다.
5000원의 개수는 1 개 입니다.

## 실습 2

1. **사용자 입력 받기**:
    - **`input()`** 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. **문자열을 숫자로 변환**:
    - 입력받은 원가와 할인율을 각각 **`float()`** 함수를 사용하여 실수로 변환합니다.
3. **할인된 가격 계산**:
    - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. **결과 출력**:
    - 계산된 할인된 가격을 **`print()`** 함수를 사용하여 출력합니다.

In [81]:
ori_price = float(input())
dis_rate = float(input())

10000
10

In [84]:
x = ori_price
y = dis_rate
print(x)
print(y)

10000.0
10.0

In [94]:
dis_price = x / y

print(f"{int(dis_price)}원 할인받으셨습니다")

1000원 할인받으셨습니다

사용자 입력 받기:
input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
문자열을 숫자로 변환:
입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
산술 연산 수행:
변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
문자열 길이 계산:
len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
성인 여부 판단:
나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)
결과 출력:
계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [167]:
#단계별 가이드
#1.사용자 입력 받기:
#input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
이름 = input()
나이 = input()

신성재
1000

In [168]:
# 2. 문자열을 숫자로 변환
#: 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.


이름 = str(이름)
나이 = int(나이)

print(이름)
print(나이)

신성재
1000

In [173]:
# 3.산술 연산 수행:
#변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.

한국나이 = (나이)+1
print(한국나이)

1001

In [170]:
#문자열 길이 계산:
#len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.

이름길이=len(이름)
print(int(이름길이))

3

In [171]:
#성인 여부 판단:
#나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다.
#(예: 만 18세 이상이면 True, 그렇지 않으면 False)

is_adult = 나이 >= 18

In [172]:
#결과 출력:
#계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.
print(f'제 이름은 {이름}, 한국나이는 {한국나이}이며, 이름길이는 {이름길이}자이며, 성인여부는{is_adult}입니다.')

제 이름은 신성재, 한국나이는 1001이며, 이름길이는 3자이며, 성인여부는True입니다.

In [ ]:
#강사님

단계별 가이드
* 사용자 입력 받기:
-- input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
* 문자열을 숫자로 변환:
-- 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
* 산술 연산 수행:
-- 변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
* 문자열 길이 계산:
-- len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
* 성인 여부 판단:
-- 나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 -- 이상이면 True, 그렇지 않으면 False)
* 결과 출력:
-- 계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [ ]:
# Step 1
name = input("이름을 입력해주세요")
age = input("나이를 입력해주세요")
# Step 2
age = int(age)

In [ ]:
# Step 3
next_year_age = age + 1 # 덧셈

In [ ]:
# Step 4
name_length = len(name)

In [ ]:
# Step 5
is_adult =  age >= 18     #비교 연산자

In [ ]:
# Step 6
print(f'제 이름은 {name} 입니다.')
print(f'제 나이는 {next_year_age}입니다. 작년에는 {age} 였습니다.')
print(f'성인여부는 {is_adult}입니다.')

# 시퀀스 자료형

In [178]:
example = 'abcde'
print(example[0]) # 출력: a
print(example[2]) # 출력: c
print(example[0:-1]) # 출력: a
print(example[1:-1]) # 출력: a

a
c
abcd
bcd

In [175]:
example = 'abcde'
print(example[1:3]) # 출력: bc

range(10)[3] # 출력: 3
range(100)[::5] # 출력: range(0, 100, 5)

bc

range(0, 100, 5)

1.3. 특정 항목의 포함 여부(Member)

In [183]:
example = 'abcde'
print('a' in example) # 출력: True #문법을 순서를 잘지켜야 재대로 나온다.
print('z' in example) # 출력: False

''' 교제에 적혀있던 틀린 예시다.
example = 'abcde'
print(example in 'a') # 출력: True  둘다 펄스나옴
print(example in 'z') # 출력: False 둘다 펄스나옴
'''

True
False

" 교제에 적혀있던 틀린 예시다.\nexample = 'abcde' \nprint(example in 'a') # 출력: True\nprint(example in 'z') # 출력: False\n"

In [184]:
example = 'abcde'
print(example in 'a') # 출력: True
print(example in 'z') # 출력: False

False
False

In [182]:
example = 'abcde'
print('z' not in example) # 출력: False

True

## 1.5. **내장 함수**

`len()`, `max()`, `min()`, `count()`, `index()` 등의 여러 내장 함수를 지원합니다. 내장 함수는 각 자료형에서 더 깊이 다뤄보겠습니다.

In [ ]:
example = 'abcde'
print(len(example))  # 출력: 5 몇개가 있는지 세줌
print(min(example))  # 출력: a 첫번쨰 문자
print(max(example))  # 출력: e 두번쨰 문자

# 2. 시퀀스 자료형의 패킹과 언패킹

## 1.1. 패킹 (Packing)

패킹은 여러 개의 데이터를 하나의 변수에 담는 과정을 의미합니다. 튜플 패킹을 통해 살펴보겠습니다. 통해 볼 수 있습니다.

In [187]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)
type(packed_tuple)

(1, 2, 3, 4)

tuple

In [188]:
packed_tuple = 1
print(packed_tuple)  # 출력: (1, 2, 3, 4)
type(packed_tuple)

1

int

In [189]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)

(1, 2, 3, 4)

In [190]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4


# ## 1.2. 언패킹 (Unpacking)

# 튜플 언패킹

a, b, c, d = packed_tuple
print(a)  # 출력: 1
print(b)  # 출력: 2

1
2

In [191]:
type(a)
type(b)

int

In [192]:
a, b, c = range(3) # 범주를 0,1,2로 잡아준거다.
print(b)
print(c)

a # 출력: 0

1
2

0

In [196]:
a, b, c, d, e = 'hello'
print(a) # 출력: 0
print(b)
print(c)
print(d)
print(e)

h
e
l
l
o

In [197]:
a, b = [10, 20]
a # 출력: 0

10

In [198]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

### 1.2.1. 별표(*)를 이용한 언패킹

In [201]:
first, *middle, last = [1, 2, 3, 4, 5]
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

## 1.1 리스트 생성

In [ ]:
x1= 100
x2= 100
x2= 100

In [202]:
x = [1, 2, 3] # csv 파일과 비슷 대괄호 사용한다. 튜플은 소괄호 셋과 딕셔너리는 중괄호 사용.
y = ['apple', 'banana', 'cherry']

In [203]:
z = [1, 'apple', 2.5, ['a', 'b'], (1, 2)]
print(z[0])
#리스트의 장점

1

## 1.2 리스트의 수정 및 다차원 리스트

In [205]:
a = [1, 2, 3, 4, 5]
a[0] = 10000 # 리스트의 수정 0 번쨰 즉 리스트의 1이 10000으로 출력된다.
print(a)

[10000, 2, 3, 4, 5]

In [206]:
#문자열은 변경이 불가능하다(immutable)

s = 'licat'
print(s[0])
s[0] = 'k'

#문자열은 한번 생성되면 그 내용을 변경할 수 없다. 문자열의 내용을 변경하고 싶다면, 새로운 문자열을 생성해

l

TypeError: ignored

1.2.3 다차원 리스트

In [207]:
b = [[10, 20, 30], [1, 2, 3]]
print(b[1][2]) # 출력: 3

3

In [209]:
print(b)
print(b[0])
print(b[1])
print(b[1][2])  ### 뭐냐 이건...

[[10, 20, 30], [1, 2, 3]]
[10, 20, 30]
[1, 2, 3]
3

## 2.1  덧셈과 곱셈 연산

In [210]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [211]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다고 하더.

array([2, 4, 6])

In [212]:
a = [1, 2, 3]
a = a * 3

a[0] = 1000
print(a)

[1000, 2, 3, 1, 2, 3, 1, 2, 3]

2.2 리스트 인덱싱

In [213]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [214]:
lst = [1, 2, 3, 4, 5]
print(lst[10])

IndexError: ignored

### 2**.3.1 슬라이싱**

슬라이싱은 **`[start:stop:step]`** 형태로 사용하며, 마찬가지로 step은 기본적으로 1이며 생략할 수 있습니다.

In [215]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1] # 순서 반전
print(l[::2])   # 출력: [1, 3, 5]
print(l[0:4][::-1]) # 출력: [3, 2, 1] # 1,2,3,4 까지 먼저 출력되고 순서 반전

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [217]:
#### 2**.3.3 슬라이싱은 에러가 발생하지 않는다**

#리스트의 슬라이싱은 범위가 넘어가더라도 오류를 발생시키지 않습니다. 이는 안정적인 코드 작성을 위한 특징입니다.

l = [1, 2, 3, 4, 5]
print(l[10:20]) # 출력: []

[]

#연습문제

In [220]:
# 문제 4

# 아래 변수에서 중복을 제거한 유일한 숫자를 알아내는 코드를 작성해주세요. 형변환을 통해 풀어주세요.

n = 1234567890123123123

len(set(str(n)))

'1234567890123123123'

In [ ]:
#문제 6
#'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요. 문자열에 translate를 사용해주세요.

s = 'hello_world123'
# 출력값: 'hlloworl'
​
# 정답
s = 'hello_world123'
table = str.maketrans('', '', 'abcde0123456789-_')
s.translate(table)

In [222]:
#문제 7
#확장자를 출력해주는 코드를 작성해주세요. 확장자는 png, jpeg, mp4 등입니다.
s = 'licat.jpeg'
# 출력값: 'jpeg'

s = 'li.cat.png'
# 출력값: 'png'
​
s[::-1].split('.')[0][::-1] # 정답1
s.split('.')[-1] # 정답2
s[s.rindex('.')+1:] # 정답3

SyntaxError: ignored

In [ ]:
문제 16

In [ ]:
문제 22

In [ ]:
문제 24

In [ ]:
문제 30

In [ ]:
문제 31

In [ ]:
문제 32