<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/20240102_PM%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 변수

In [1]:
#1.1 변수의 속성 확인

x = 10
print(type(x))
print(dir(x))

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
x = "10"
print(type(x))
print(dir(x))

print("10" + "10")

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
1010

In [3]:
m = int(10) + int(10)
n = "10" + "10"

print (m)
print (n)

20
1010

In [5]:
x = 10
print(type(x))

del x

<class 'int'>

In [6]:
x = 10
print(type(x))

<class 'int'>

In [8]:
x = 10
type(x)

int

In [16]:
# 나눗셈 예제

x = 10
y = 20
result = x / y
print(result)

print(int(result))

0.5
0

In [15]:
1'''
# !!! "print = x" 이런식의 실수로 인해 전체 에러가날땐
# 당황하지말고 런타임에 세션 다시 시작을 눌러주면 해결된다 !!!
'''

In [22]:
# id(x), id(y) 에 대해서
# -5 ~ 256 까지는 고유id가 같지만 그 외에는 다르니 주의해야한.

x = 257
y = 257

print(x,y)

257 257

In [23]:
print(x == y)

True

In [24]:
print(id(x), id(y))

134773264693968 134773264691920

In [25]:
# 무한대 inf

x_inf = float("inf")

In [28]:
# 소수점 계산을 2진법으로 변환해서 컴퓨터에서 연산처리과정에 이러한 문제가 발생


x = 10.1
y = 10.2

result = x + y
print(result)
print(x + y)

20.299999999999997
20.299999999999997

In [29]:
# 소수점 계산을 2진법으로 변환해서 컴퓨터에서 연산처리과정에 이러한 문제가 발생

x1 = 0.1
y2 = 0.2

result = x1 + y2
print(result)
print(x1 + y2)

0.30000000000000004
0.30000000000000004

In [50]:
# 해결책 디시멀로 해결한다.

import decimal

float(decimal.Decimal('.1') + decimal.Decimal('.2')) # 이러면 출력이 0.3 이된다

0.3

In [32]:
# 제곱계산

print(2e3) #float 값이 나온다
print(2E3) #float 값이 나온다

print(2 * (10 **3)) #int 값이 나온다

2000.0
2000.0
2000

In [33]:
# 복소수 출력 일반적으로 -1 제곱 일반적 i로 표현되나 파이선에선 j로 표기함

x1 = 3 + 4j
x2 = complex(3, 4)

print(x1, x2)
print(type(x1), type(x2))

(3+4j) (3+4j)
<class 'complex'> <class 'complex'>

In [35]:
x = 3 + 4j
print(x.imag) # 출력 : 4.0

4.0

In [ ]:
'''
복소수 3 + 4j의 실수 부분을 반환하는 코드는 무엇인가요?
a) (3 + 4j).real()
b) real(3 + 4j)
c) (3 + 4j).real #!!! 정답은 c다.
d) 3 + 4j.real
'''

In [39]:
### 9번

year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep="/", end="  ") #sep='/', end=' '
print(hour, minute, second, sep=":")

2019/04/26  11:34:27

In [46]:
### 15번 문제

name = input("이름을 입력하세요: ")

print("안녕하세요. 저는 {}입니다.".format(name))

이름을 입력하세요: 신성재
안녕하세요. 저는 신성재입니다.

In [53]:
### 23번 문제

import decimal

x = 10
y = 2

result = x/y

print(result) #float(decimal.Decimal('.1') + decimal.Decimal('.2'))

5.0

In [78]:
### 23번 문제

import decimal




x = 10
y = 2

result = x/y

print(result) #float(decimal.Decimal('.1') + decimal.Decimal('.2'))
print(int(result))
float(decimal.Decimal('10') / decimal.Decimal('2'))

5.0
5

5.0

In [76]:
### 39번 문제
'''
입출력

입력 : querty
출력 : euerty

입력 : hqllo my bamq is hyqwob
출력 : hello my bame is hyewob
'''

data1 = input()
data2 = input()

print(data1.replace('q', 'e'). replace('b', 'n'))

print(data2.replace('q', 'e'). replace('b', 'n'))

querty
hqllo my bamq is hyqwob
euerty
hello my name is hyewon