<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/240105_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%95%A8%EC%88%98%EB%93%B1%EB%93%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 리스트

1.1 리스트 메서드

In [18]:
a= 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b = a
print(id(a))
print(id(b)) #이렇게 아이디 비교해서 다이렉션을 개념을 생각하면됨.

10
10
134782479417872
134782479417872

In [19]:
# -5부터 256은 같습니다.
a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)


a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

134782479417872
134782479417872
True
134781210471344
134781210470384
False

In [1]:
0.1 + 0.2 # 0.1이 2진수로 표현했을 때 무한소수입니다.

0.30000000000000004

In [13]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든지 한 줄로 할려고 하는 분 만나는데
# 이거 안좋은 습관입니다.

print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world')

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [12]:
# 질문: 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하시면 제가 Reject합니다.

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

# 허용함
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

In [14]:
# 문자열 메서드
dir('hello world') #메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

# 문제1: find와 index 차이
# 실무에서 사용하는 코드:

if 'hello world'. find('hi'):
    print('찾았다!')

# 문제2 isdigit의 정체

'123'.isdigit()
'12h3'.isdigit()

# 문제3 replace 가 어디까지 변환하는지?
'hello world hello world hello world'.replace('hello', 'hi')# 모두 다 변환이 됩니다. 몇 개만 변환이 되는것이 아닙니다.
#알아두셔야 할 사항: replace는 정규표현식이 안됩니다.
#replace를 정규표현식을 사용하고 싶은면 re.sub를 사용해야 합니다.

# 문제4 strip(공백제거)
# 문제5 zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼, 시간이나 연도)

찾았다!

'hi world hi world hi world'

# 리스트
* 변경잉 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)
*

In [ ]:
l = [10, 20 , 30]

l = [10,
     20,
     30] # 이것 위에꺼랑 똑같이 되고 라인수가 길어졌을때 이렇게 사용하길 권장,

# 추천 두번째(실무에선 이렇게 더 많이 사용함.)

l = [
    10,
    20,
    30
]

l = [
    10,
    20,
    30,
]

# 근데 여기에 문제가 있음! 통신을 할 때에는 JSON이라는 형식을 사용하는데
# JSON은 마지막에 콤마를 허용하지 않습니다!

# why? 문제가 있는 2번째가 더 많이 사용하는 이유?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
#콤마를 빼먹은 경우가 많이 확인 인식용으로
# 편의성: Ctrl c then Ctrl v 하기가 더 편함.
# 자동 변환 SW를 사용합니디.(pthon black platformatter 를 사용하면 알아서 콤마같은걸 기본으로 넣어줌)

In [21]:
l = [10, 20 , 30]
l[2]

30

In [23]:
# str 은 안됩니다!

s = 'hello world'
# s[0] = 'y'

s = s.replace('h', 'y')
print(s)

yello world

In [24]:
# 정답1
s = s.replace('h', 'y')
#2 정답2
s = 'y' + s[1:]# 신경써야 하나요? black formatter 에서 자동으로 해줍니다.

In [26]:
l = [10, 20 , 30]
l[2] = 1000
print(l)

[10, 20, 1000]

In [29]:
l = [10, 20 , 30, 40, 50]
l[-1]
l[-2:] #마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됨. 예 l[3:]
l[3:]
#변수명[stop]
#변수명[start:stop]
#변수명[start:stop:step]

[40, 50]

In [ ]:
a = 10
aa = 10

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다. add는 더하기(+) 이다. mul은 곱하기(*)

In [33]:
type(l)

list

In [34]:
l = [10, 20 , 30, 40, 50]
# l 리스트에 + 100 정수는 못더해준다.

# 리스트에는 리스트를 더할수 있다 추가 개념
l + [100]
l + [100, 200]
l * 3 # 리스트에 정수 곱하기는 된다.
# l * [1, 2] # 리스트 곱하기는 안됩니다.

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [36]:
l = [10, 20 , 30] * 3
l[1] = 1000
l

[10, 1000, 30, 10, 20, 30, 10, 20, 30]

In [37]:
# 리스트 곱하기는 매우 주의해야 합니다.
#곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주셍요!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [40]:
l[1][1] = 10000
l

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해주세요.
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #텐서(3차원 이상 행렬)

In [41]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [189]:
x = [[1, 2], [3, 4], [5, 6]]
print(x[1])
print(x[1][1])

[3, 4]
4

In [46]:
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [191]:
l = [1, [10, 20], [3, [100, 200], 5]]
print(l[2][1][0])

100

In [47]:
x = 10

# 다르다는 것만  인지할것.
# print를 하는것과 맨 마지막 출력하는것은 다르다.
print(x) # ___str___
x # ___repr___

10

10

In [ ]:
# Python > 자료형 > list > 메서드

l = [10, 20, 30]
dir(l)

#shift + Tab
#Ctrl + [, Ctrl + ]

'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [49]:
l.append(100)
l

[10, 20, 30, 100]

In [51]:
#앞에 넣고 싶음1
l = [1000] + l
#앞에 넣고 싶음2
x = 100000
l = [x] + l[:]
#앞에 넣고 싶음3
l.insert(0, 999)
l

[999, 100000, 1000, 999, 100000, 1000, 10, 20, 30, 100]

In [52]:
l = [10, 20, 30, 40]
l.pop()
l
#뒤에꺼 빼고

[10, 20, 30]

In [53]:
l = [10, 20, 30, 40]
l.pop(0)
l
#앞에꺼에서 빼고 팝제로 알고리즘시간에 많이 한다고 함.

[20, 30, 40]

In [56]:
l = [10, 20, 30, 40]
l[:-1]
ㅣ[1:]

[10, 20, 30]

In [ ]:
l = [10, 20, 30, 40]
ㅣ.index(20)

In [60]:
# keep
#index가 에러가 납니다. error 없이 코드 짜고 싶어.
# str 에 find처럼 코드를 짜고 싶을떄
#슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 에러가 나지 않습니다.!!!

l = [10, 20, 30, 40]
l[100:101]

[]

In [61]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

id(l), id(ll)
#l is ll

In [64]:
l = [10, 20, 30, 40]
ll = l.copy() # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
ll

id(l), id(ll)
#l is ll

(134781210318144, 134781210318144)

In [67]:
l = [10, 20, 30, 40]
ll = l[:] # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
l, ll

#l is ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [71]:
l = [1, 1, 1, 2, 2, 2, 3, 3, 3]
l.count(1)

3

In [72]:
l = ['1', 1, 1, 2, 2, 2, 3, 3, 3] # 헤깔리지 말것
l.count(1)

2

In [74]:
str([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]).count('1') #스트링이라 따옴표 카운트괄호안에 넣어줘야함

9

In [78]:
list(range(10))
str(list(range(10000)))
str(list(range(10000))).count('8')

4000

In [79]:
l = [10, 20, 30, 40]
l.extend([50, 60]) #
l

[10, 20, 30, 40, 50, 60]

In [80]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 요소 단일 추가
l

[10, 20, 30, 40, [50, 60]]

In [81]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [82]:
l = ['1', 1, 1, 2, 2, 2, 3, 3, 3]
l.remove(1) #첫번쨰 1을 지워줌
l

['1', 1, 2, 2, 2, 3, 3, 3]

In [ ]:
l = ['1', 1, 1, 2, 2, 2, 3, 3, 3]
l.filter(1) # 전체 1을 뽑아내고 싶으면 필터를 사용
l

In [201]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def f(x): # x를 정의한다.
    return x % 2 == 0 # 2로 나누었을때 나머지가 0이 나오는 숫자. 즉 2의 배수

sum(filter(f, l))

30

In [197]:
def is_even(num):
    return num % 2 == 0

even_numbers = filter(is_even, l)
sum_of_even_numbers = sum(even_numbers)

print(sum_of_even_numbers)

30

In [86]:
# 이해지금 안해도 됨 filter
# 여기서 catch 해야할 포인트는 모든 요소를 filtering 하고  싶을떄는 remove가 아니라 filter를 사용한다!
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [92]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse() # 역순으로 보이나 역정렬은 아닙니다.
l
#원본이 변한다. 그래서 잘 안씀.
#역순은 단순히 순서를 뒤집는 것
# 역정렬은 정렬의 역순이다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [93]:
# reversed는 잊어도됨 l.reverse만 기억하면됨
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) #reversed는 원본을 변경하지 않는다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [96]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l #원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [95]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l #원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [99]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l)
#sorted 는 잊어도됨. l.sort만 기억해도됨
#sorted 원본을 변경하지 않음.

[1, 2, 3, 4, 5, 6, 7, 9]

In [100]:
#sort, sorted, reverse, reversed 알고리즘 문제에서도 1개 문제는 거의 나온다고 보면됨
# 옵션 값은 하지 않았음
# 옵션 값을 하지 않은 이유 : 함수까지는 배우셔야 좀 더 고급 문법이 가능함.

In [102]:
# 어떻게 사용되는지 만 확인하자 뒤에서 다시 할꺼거든
# 국, 영, 수, 이름 순
s = [[100, 87, 91, '이호준'], [56, 38, 89, '김호랑'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] # 1, 2, 3 순으로 표출 순서를 바꾸기 가능

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이호준'], [33, 86, 100, '홍길동']]

In [103]:
# 어떻게 사용되는지 만 확인하자 뒤에서 다시 할꺼거든
# 국, 영, 수, 이름 순
s = [[100, 87, 91, '이호준'], [56, 38, 89, '김호랑'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x [2] # 평균 점수가 가장 높은순

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '김호랑']]

# 튜플

 * 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)

 * 참조 변경 불가입니다.(값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기깁니다.)

In [105]:
t = (10, 20, 30) # 소괄호

In [106]:
t[0]

10

In [107]:
t[1:]

(20, 30)

In [ ]:
t[0] = 1000

In [111]:
# 1번째 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료형
# * 내부자 소행인 경우가 가장 많습니다.(사회공학 해킹)
# 2번째 변경이 불가능한데 왜 '값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다'라고 얘기 하셨나요?
a = [10, 20 ,30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [112]:
a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [114]:
t = (10, 20, 30)
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [115]:
t.count(10) #10의 갯수를 반환
t.index(10) #10의 위치를 반환

0

In [116]:
tuple([10, 20, 30])

(10, 20, 30)

In [117]:
# tuple(순회가능한객체)
# list(순회가능한객체)

tuple('hello world')
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# 딕셔너리

* Python3.6 버전 이상은 순서가 보장됩니다.
* 그전 버전에선 없었음.
* 실무에서는 프로젝트마다 다르지만 사용하는 Python 버전이 낮습니다. 장고 v1.후반, python v2. 를 사용함
* 'key: value' 쌍으로 이루어져 있습니다.
* 딕셔너리 데이터 searching 매우 빠름.
* 딕셔너리 사용은 주의를 요함. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [118]:
d = {'one': '하나', 'two': '둘'} # 키 와 밸류
d['one'] #인덱스를 넣는게아니라 키를 넣음

'하나'

In [119]:
d['three'] #견고하지 않은 방식이다, 에러가 난다.

KeyError: 'three'

In [120]:
d.get('three') # get 메서드를 사용하길 권장한다, 에러가 나지않는다.

In [124]:
d.get('three', '없는 값입니다!') # get 메서드를 사용하길 권장한다, 에러가 나지않는다.

'없는 값입니다!'

In [125]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
    }.get(x, '요일없음')

f(3)

'수요일'

In [127]:

x = 3

{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}.get(x, '요일없음')

'수요일'

In [ ]:
# match 문법이 나오기 전까지 또한 지금도 많이 사용하는 문법입니다.
# 지금도 많이 사용하는 문법입니다.
# match 문법은 이런 문법이 있는지 모르시는 시니어 분들도 많습니다.

x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

In [123]:
!python --version

Python 3.10.12

In [129]:
type(d)
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!',
    'author': '이호준',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [ ]:

d = {'one': '하나', 'two': '둘'}

In [130]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)  #이렇게 하면 되고
dd is d

d['two'] = 'python'
d['two'] = 'html'

d, dd

({'one': '하나', 'two': 'html'}, {'one': '하나', 'two': 'html'})

In [131]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy() # 이렇게 하면 안됨

d['two'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [132]:
d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [133]:
d = {'one': ' 하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [134]:
d = {'one': ' 하나', 'two': '둘'}
d.items()

dict_items([('one', ' 하나'), ('two', '둘')])

In [135]:
d = {'one': ' 하나', 'two': '둘'}
type(d.items())

dict_items

In [ ]:
d = {'one': ' 하나', 'two': '둘'}
d.items()[0] # 에러난다라는걸 알고 있어야한다.
d.items()[1:] # 에러난다라는걸 알고 있어야한다.

In [136]:
a, b = d.items() # 언패킹
a
b

('two', '둘')

In [137]:
a, b = [10, 20]
a

10

In [138]:
# keep 만 해두세요, 반복문을 안배웠습니다.
for i, j in d.items():
        print(i, j)

one  하나
two 둘

In [139]:
d.keys()
d.values()

dict_values(['하나', '둘'])

NameError: name 'dict_values' is not defined

In [140]:
d = {'one': ' 하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four', 4) #있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해준다.

4

In [142]:
d = {'one': ' 하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [143]:
d = {'one': ' 하나', 'two': '둘'}
d.pop('one')

' 하나'

In [ ]:
d = {'one': ' 하나', 'two': '둘'}
d.pop() #error
d.pop('three') #error
d

In [145]:
d = {'one': ' 하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실겁니다.

('two', '둘')

In [147]:
d = {'one': ' 하나', 'two': '둘'}
d.update({'one':'python', 'three':'hello'}) # one은 수정이 되었고 three는 생성됨.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [177]:
# 신규문법!!(3.9 version)
d = {'one': ' 하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd
d | dd # 책 사서 보셔도 잘 안나오는 문법

{'one': ' 하나', 'two': '둘', 'three': '셋'}

In [178]:
d = {'one': ' 하나', 'two': '둘'}
dd = {'one': 'python','three': '셋'}

# d + dd
d|dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋 set?

* 중복을 허락하지 않는 자료형 입니다.
* 순서가 없는 자료형입니다.
* 집합(합집합, 차집합, 교집합)

* 보통 중복제거용으로 사용한다 집합은

In [150]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss # error
s | ss # 합집합
s - ss # 차집합
s & ss # 교집합

{3, 4, 5}

In [ ]:
s.add(10)
s

In [ ]:
type(s), dir(s)

In [152]:
s.difference(ss) #차집합 '-'

{1, 2}

In [153]:
s.intersection(ss) #교집합 '&'

{3, 4, 5}

In [154]:
s.union(ss) # 합집합 '|'

{1, 2, 3, 4, 5, 6, 7}

In [155]:
set('123123123') #중복을제거

{'1', '2', '3'}

In [ ]:
sum([[10, 20, 30], [10, 20, 30], [10, 20, 30]]) #error

In [ ]:
sum(10, 20, 30) #error

In [163]:
# sum(순회가능한객체, 초기값)
sum([10, 20, 30], 100)

160

In [195]:
 sum(sum([[1, 2], [3, 4]], []))

10

In [164]:
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화 작업
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

In [165]:
 sum(sum([[10, 20], [30, 40], [50, 60]], []))

210

In [157]:
sum([10, 20, 30])

60

In [160]:

map(int, set('123123123'))

In [158]:
# map은 너무나 중요해서 반복해서 공부할꺼임
# 중복 제거한 값을 더하는 용도로 아래와 같이 사용하는 코드를
# keep
sum(map(int, set('123123123')))

6

# in

In [166]:
'h' in 'hello'

True

In [167]:
x = 10
x in [10, 20 ,30 ,40, 50]

True

In [169]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]] # in은 어드레스를 비교하는게 아니라 값을 비교해서 알려준다.

True

In [170]:
s = {1, 2, 3}
1 in s

True

In [171]:
s = {1, 2, 3}
1 not in s

False

# and, or, not 단락평가

In [173]:
user_id = ''

user_id = user_id or '아이디 없음'
user_id

'아이디 없음'

In [174]:
user_id = 'leehojun'

user_id = user_id or '아이디 없음'
user_id

'leehojun'

In [175]:
False and 1/0

False

In [176]:
1/0 #error

ZeroDivisionError: division by zero

In [ ]:
  'difference',
  'intersection',
  'union'

In [ ]:
'clear', #클리어 잘 안써서 안함 보통 게시판에서 사용한다고함.
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

#복습 문제

* 1. 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
* 1.1 'hello' and 1
* 1.2 10 or 'hello world'

* 2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}

* 3. 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]

* 4. 아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]

* .5(난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
정답: 30

답
1.1 답은 1이며

In [184]:
1 and 'hello'

'hello'

In [182]:
10 or 'hello world'

10

In [186]:
d = {'one': 1, 'two': 2}
d.get('three',3)

3

In [185]:
d = {'one': ' 하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [ ]:
 l = [1, [10, 20], [3, [100, 200], 5]]