<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/20240103_str_%EB%AC%B8%EC%9E%90%EC%97%B4_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.1 문자열 기초

x = 'hello'
y = "phython"

In [3]:
print(x, y)

hello phthon

In [16]:
print(type(x), type(y))

<class 'str'> <class 'str'>

In [17]:
print(x * 3)

hellohellohello

In [12]:
'''
안녕하세요
파이선
좋아아요.
'''

"""
안녕하세요
파이선
좋흐아요.
"""

'\n안녕하세요\n파이선\n좋흐아요.\n'

In [14]:
'''안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''

'안녕하세요.\n저는 위니브의 대표 이호준입니다.\n파이썬 참 좋아요.\n여러분 정말 잘 선택하셨어요.\n'

In [15]:
"""안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
"""

'안녕하세요.\n저는 위니브의 대표 이호준입니다.\n파이썬 참 좋아요.\n여러분 정말 잘 선택하셨어요.\n'

In [10]:
i = '''안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''
j = """안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
"""

In [19]:
# 1.2 문자열 덧셈, 곱셈

# 문자열의 덧셈

x = 'hello'
y = 'world'
print(x + y)

x = '10'
y = '20'
print(x + y)

x = 'hello'
print(x *3)

helloworld
1020
hellohellohello

In [29]:

# 1.3 문자열 인덱싱

#    0  12 34 5 6
s = '위니브 월드!'
print(s[0]) # 출력 : '위'
print(s[2]) # 출력 : '위'
print(s[4]) # 출력 : '위'

print(s[6]) # 출력 : '!'
print(s[-1]) # 출력 : '!' 보통 마지막걸 가져오고 싶으면 마이너스 사용

print(s[0:5])
print(s[0:])
print(s[0:6:2])

위
브
월
!
!
위니브 월
위니브 월드!
위브월

In [31]:
s = 'weniv CEO licat'
print(s[6:]) # 출력 : CEO licat === 6번에서 끝까지
print(s[:]) # 출력 : weniv CEO licat === 전체 출력
print(s[::-1]) # 출력 : tacil OEC vinew === 거꾸로 출력됨
print(s[::2]) # 출력 : wnvCOlct === 0부터 2번째들만 출력됨

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [33]:
s = 'weniv_licat.png'

print(s[:11])
print(s[:-4])

weniv_licat
weniv_licat

In [38]:
s = 'weniv_licat.png' #  png만 나오게 해보자

print(s[-3:-1])  # -1 은 포함이 안됨 거꾸로 해도 마찬가지
print(s[-3:])  # png 만 표출됨 뒤는 비워두는게 좋다

pn
png

In [40]:
# 1.5 슬라이스 복사 - 다만 ID가 달라짐.

s = [1, 2, 3]
ss = s[:]

print(id(s), id(ss)) # 출력: 133344882907520 133344882906560

132417144443584 132417144445312

In [42]:
# 3. 문자열 메서드

## 3.1 lower( ) / upper( )

s = 'weniv CEO licat'
s.lower() #전체를 소문자로 바꿔주는 method
s.upper() #전체를 대문자로 바꿔주는 method

'WENIV CEO LICAT'

In [44]:
s = 'weniv CEO licat'
s.lower() #전체를 소문자로 바꿔주는 method

'weniv ceo licat'

In [46]:
s = 'weniv CEO licat'
s.index('CTO') # 인덱스 메서드는 찾는 문자열이 없는경우 에러가남.

ValueError: ignored

In [47]:
s = 'weniv CEO licat'
s.find('CTO') # 파인드는 못찾아도 -1 만 표출함.

-1

In [51]:
s = 'weniv CEO licat'
s.find('CEO') #문자열을 찾아주는 method
s.index('licat')

10

In [52]:
s = 'weniv CEO licat'
s.count('i') #문자열이나 숫자를 셀 때 사용

2

In [53]:
s = '    weniv CEO licat     '
s.strip() #양쪽 공백을 제거하는 method

# 간혹 미세히 조정안되는 경우가 생겨 100% 신뢰는 하지말고 체크해야함.

'weniv CEO licat'

In [54]:
'    ,!!  hello world   '.strip(' ,!')
#양쪽의 공백과 ',!'을 제거해주는 method

'hello world'

In [56]:
s = 'weniv CEO licat'
s.replace('CEO', 'CTO') #원하는 문자열을 다른 문자열로 대체할 때 사용하는 method

'weniv CTO licat'

In [57]:
'weniv CEO licat'.replace('CEO', 'CTO')

'weniv CTO licat'

In [58]:
s = 'weniv CEO licat'
s.replace('i', 'I') #문자열 내에서 모든 i를 I로 대체할 때 사용하는 method

# 이렇게 수정된 문자열이 원본에 반영되지 않는다는 사실을 기억.

'wenIv CEO lIcat'

In [59]:
s = 'weniv CEO licat'
ss = s.replace('i', 'I')
ss, s # 출력: ('weniv CEO licat', 'wenIv CEO lIcat')

('wenIv CEO lIcat', 'weniv CEO licat')

In [64]:
## 스플릿 split과 join 매서드
## 스플릿은 리스트 형태로 사용하게 된다


s = 'weniv CEO licat'
print(s.split()) #공백을 기준으로 문자열 나누기

a = 'weniv-CEO-licat'
print(a.split('-')) #-을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']
['weniv', 'CEO', 'licat']

In [65]:
s = ['weniv', 'CEO', 'licat']
'-'.join(s) #리스트를 하나의 문자열로 합치기

'weniv-CEO-licat'

In [67]:
s = '010 1000 1000'
'-'.join(s.split()) #공백을 기준으로 문자열을 나눈 후 '-'로 합치기
#s 값에 대해서 괄호안에 있는 스플릿으로 데이터 리스트를 만든호 괄호 밖에 있는 조인 매서드를 사용해 -
#스플릿되었던 데이터 값에대해 조인시킨다.

'010-1000-1000'

In [71]:
name = 'licat'
age = 29

print('제 이름은 {}이고, 나이는 {}살입니다.'.format(name, age))
print(f'제 이름은 {name}이고, 나이는 {age}살입니다.')  # 더 일반적임

제 이름은 licat이고, 나이는 29살입니다.
제 이름은 licat이고, 나이는 29살입니다.

In [72]:
s = 'licat'
s.rjust(10, '-') #문자열을 지정한 길이로 맞추고, 지정된 s값이 10칸중 오른쪽으로 간다.

'-----licat'

In [73]:
s = 'licat'
s.ljust(10, '-') #문자열을 지정한 길이로 맞추고, 지정된 s값이 10칸중 왼쪽으로 간다.

'licat-----'

In [74]:
s = '841212-1'
s.ljust(14,'*')

'841212-1******'

In [76]:
s = 'licat'
s.center(16, '-') #문자열을 지정한 길이로 맞추고, 양쪽을 '-'로 채우는 method 짝이 맞지않으면 오른쪽을 먼저 하나더줌

'-----licat------'

In [77]:
x = "42"
result = x.zfill(5)
print(result)  # 00042, csv 와 파이썬 사이 데이터 스왑시 필요할수 있다,

00042

In [78]:
x = "-42"
result = x.zfill(5)
print(result)  # 00042, csv 와 파이썬 사이 데이터 스왑시 필요할수 있다,

-0042

In [80]:
x = "에이비씨디"
result = x.zfill(10)
print(result)  # 00042, csv 와 파이썬 사이 데이터 스왑시 필요할수 있다,

00000에이비씨디

In [83]:
년 = '23'
월 = '9'
일 = '8'
오늘날짜 = 년 + 월 + 일
print(오늘날짜)
오늘날짜 = 년 + 월.zfill(2) + 일.zfill(2)
print(오늘날짜)  #  이렇게 넣어주면 데이터 길이를 유지할수있다.

2398
230908

In [84]:
# translate

# 변환 테이블 생성
table = str.maketrans("abc", "123")

In [85]:
text = "abcde"
result = text.translate(table)
print(result)  # 123de

123de

In [87]:
# 'd'와 'e' 문자 제거하기
table = str.maketrans('', '', 'de')
text = "abcdedddddddddddddddddddddddddddddeeeeeeeeeeeeeeeeeeee"
result = text.translate(table)
print(result)  # abc

abc

In [88]:
table = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'weniv \n\n\n CEO \t\t\t licat'.translate(table)

'weniv     CEO     licat'

In [89]:
name = 'licat'
s = f'My name is {name}'
print(s) # My name is licat

My name is licat

In [94]:
name = 'licat'
age = 29
s = f'{name[2:]}, {age+10}!'
print(s) # licat, 39!

cat, 39!

In [95]:
name = 'licat'
age = 29
s = f'{name[2:5]}, {age+10}!'
print(s) # licat, 39!

cat, 39!

In [96]:
# 1.15 이스케이프
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

In [97]:
# 논리(bool) 자료형

true 와 false 를 표현

수학자 죠지 불e의 이름을 따와 표현

SyntaxError: ignored

In [98]:
x = True
y = False
z = 10 > 3
print(x, y, z)

True False True

In [99]:
print(True == 1) # 출력: True
print(False == 0) # 출력: True

True
True

In [100]:
print(True + True) # 출력: 2
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0
print(True / False) # error

2
-1
1.0
0

ZeroDivisionError: ignored

In [101]:
dir(None)

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [102]:
x = None

print(x == None)    # True, 하지만 이 방식은 권장되지 않습니다.
print(x is None)    # True, 이 방식을 사용하여 None을 확인하는 것이 좋습니다.

True
True

In [103]:
# 백슬러쉬 사용해서 개행을 할 수 있습니다.
sentence = '  Hello, World!  '
result = sentence\
         .strip()\
         .lower()\
         .replace('world', 'python')

print(result)  # 'hello, python!'

hello, python!

In [ ]:
# 1. Python에서의 형변환

In [104]:
# 1. 형변환 기본 예제

월급 = input("월급을 입력하세요:")
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요:1000
100010001000100010001000100010001000100010001000

In [106]:
# 1. int를 사용하여 제대로 만들기

월급 = int(input("월급을 입력하세요:"))
연봉 = 월급 * 12
print(연봉)

월급을 입력하세요:10000000
120000000

In [108]:
# float 소수를 를 int 정수로 변경

f = 3.141592
num = int(f)
print(num)

3

In [109]:
# 2.1.3 bool → int로 형변환

true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [113]:
## None 은 형변환이 안된다

print(int(None))

TypeError: ignored

In [114]:
## None 은 형변환이 안된다

n = (int(None))
n

TypeError: ignored

In [116]:
# 4.5 str 형변환

n = 123
print(type(n))

m = 123.4567
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [122]:
# 빈자료형인경우나 논은 펄스이고 공간이 있으면 트루이다

print(bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [118]:
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [120]:
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')  # None, NA 와 헤깔리지 말자 nan 은 not a number의 준말

In [121]:
10 / 1 # 출력: 10.0

10.0

In [123]:
s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [ ]:
n = 10
print(list(n)) # 출력: error
​
#정수형은 list로 변환이 가능하지 않습니다.

In [124]:
# map 함수 향후 많이 쓰인다함.

list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [125]:
# map 함수 향후 많이 쓰인다함. 예시 2


list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [126]:
z = 0
x / z # ZeroDivisionError 발생

TypeError: ignored

In [128]:
a = 10
b = 3
divide = a / b
print(divide)
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33  .2f를 써서 소수점 2번째 까지만 보여지게한다.

3.3333333333333335
10 ÷ 3 = 3.33

In [130]:
# 나머지
print(10 / 3) #소수 몫
print(10 // 3) #정수 몴
print(10 % 3) #나머지값

10 % 3

3.3333333333333335
3
1

1

In [131]:
-2 ** 2

-4

In [132]:
(-2) ** 2

4

In [133]:
'abcd' > 'abcda'

False

In [134]:
class int(int):
    def __eq__(self, other):
        return True

# 10 < 11
int('10') == int('11')

True

In [135]:
class int(int):
    def __add__(self, other):
        return self * other

# 10 + 11
int(10) + int(11)

110

In [140]:
import math

result = 0.1 + 0.2
print(result)
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

0.30000000000000004
False
True
False
False
False

In [145]:
x = 100
y = 100
z = x

print(id(x), id(y), id(z))

132418412596560 132418412596560 132418412596560

In [142]:
x = 258  #정수 -5에서 256까지만 같다.
y = 258
z = x

print(id(x), id(y), id(z))

132417144269232 132417144272144 132417144269232

In [146]:
n = 1234567890123123123
len(set(str(n)))

10