<a href="https://colab.research.google.com/github/SungjaeS/orm/blob/main/2401008_%ED%95%A8%EC%88%98_%EC%B2%98%EC%9D%8C_%EB%81%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수와 인사하기

* 함수를 사용하면 복잡한 코드를 단순화시키고, 반복되는 코드를 줄일 수 있습니다. 이로 인해 전체적인 코드가 더 깔끔해지고 관리하기 쉬워집니다. 또한, 이러한 접근법은 코딩 오류를 줄이고 프로그램의 효율성을 향상시킬 수 있습니다.

In [ ]:
# 1. 나만의 함수 만들어보기

def sungjae(): # def -> 이건 함수야 jinhwankim 함수의 이름 + () -> ":"

In [ ]:
# 2. 들여쓰기

def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것.
    print('2') #4칸을 띄우는 것 -> 함수의 본문을 적는 것.
    print('3') #4칸을 띄우는 것 -> 함수의 본문을 적는 것.

# 함수의 실행
my_function() #실행을 할떄는 def와 :는 필요없다.-> 함수의 본문이 실행 된다.

1
2
3

In [ ]:
# 4칸 띄우기를 하지않고 한두세칸을 띄우면 에러가 난다.

def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것.
    print('2') #4칸을 띄우는 것 -> 함수의 본문을 적는 것.
print('3') #이렇게 4칸 띄우지 않으면 3이 먼저나오는데 그건 함수안에 print('3')이 있지 않기때문
# print('4') # error
#  print('4') # error
#    print('4') # error

# 함수의 실행
my_function() #실행을 할떄는 def와 :는 필요없다.-> 함수의 본문이 실행 된다.

3
1
2

In [18]:
# 1. 함수의 기본 구조

def function_name (x, y):
    z = x + y
    return z
print(f'function_name(10, 9) = {function_name(10, 9)}')

function_name(10, 9) = 19

In [22]:
# 예제 수업내용 아님```
python

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def f(x): # f를 정의한다.
        return x % 2 == 0 # 2로 나누었을떄 나머지가 0이 되는수만 리턴.
        sum(filter(f, l)) # l값에서 정의된 f값이 필터되고 마지막 그값들이 더해진다.
# 예제 수업내용 아님```

NameError: name 'python' is not defined

In [19]:
def function_name(x, y):
    z = x + y # z = 10 + 9
    return z # z만 가지고서는 출력이 되지 않음!

# 1. return을 함수 내에 지정하지 않았을떄
# print(f'function_name(10, 9) = {function_name(10, 9)}')

In [20]:
def f():
    print(1 / 0)

print('hello')

hello

In [23]:
#2.1 입력 매개변수가 없고 반환값도 없는 함수
def simple_function():
    print('hello world')

# 함수 호출
print(simple_function()) # 함수는 return 값을 찾겠구나!

hello world
None

In [26]:
# 2,2 파라미터가 없고, 반환값은 있는 함수
def give_me_five():
    return 5

result = give_me_five() # 할당! result = 5 이것과 비슷한 출력.
print(result) # 출력:5 아큐먼트도 없고 함수가 있는것도 아니지만 return 5 때문에 5가 출력되게된다.

5

In [27]:
# 2.3 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
     print(f'Hello, {name}!')  # name 에 Licat! 값이 들어가서 Hello, Licat! 출력됨.

# 함수 호출
greeting('Licat') # 함수만 호출하면 None 출력안됨

Hello, Licat!

In [29]:
# 2.3 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
     print(f'Hello, {name}!')  # name 에 Licat! 값이 들어가서 Hello, Licat! 출력됨.

# 함수 호출
print(greeting('Licat')) # 프린트를 사용하여 함수를 출력하면 None 이 출력됨. # None 도 하나의 자료형이라...

Hello, Licat!
None

In [30]:
# 2.4 입력 매개변수가 있고, 반환 값이 있는 함수

def add_numbers(x, y): # 5와 3 대입됨.
    sum = x + y # 5와 3이 더해짐.
    return sum

# 함수 호출
result = add_numbers(5, 3)
print(result)  # result 값이 출력됨: 8

8

In [31]:
# 3.1 print와 return의 구분

def function(x, y):
    z = x + y
    print(z)
print(f'function(5, 7) = {function(5, 7)}')

12
function(5, 7) = None

In [ ]:
# 1.1 파라미터 (Parameter)
#파라미터는 함수를 정의할 때 사용되는 변수입니다. 파라미터는 함수가 호출될 때 들어온 값을 변수에 할당하는 역할을 합니다.
def my_function(x, y): # (x, y) 얘네가 파라미터 모통 문자값으로 된것이 파라미터로 부른다.
    return x + y

In [ ]:
# 1.2 아규먼트 (Argument)
# 아규먼트는 함수를 호출할 때 전달하는 실제 값입니다. 이 값들은 함수 호출 시 파라미터에 할당됩니다.
result = my_function(5, 3) # (5, 3) 얘네가 아규먼트 보통 숫자로 된 값이 아규먼트로 부른다.

In [35]:
#### **1.3.1 파라미터의 기본 사용**
#함수 **`f`**는 3개의 파라미터 **`a`**, **`b`**, **`c`**를 가집니다.
#함수 호출 시, 키워드 인자(keyword arguments)를 사용하여 원하는 파라미터에 값을 할당할 수 있습니다.

def f(a, b, c):
    print(a, b, c)

f(a=100, b=200, c=300) # 출력: 100 200 300 #이렇게 쓰는 방식을 키워드 인자라고 한다.
f(c=300, a=100, b=200) # 출력: 100 200 300 #이렇게 쓰는 방식을 키워드 인자라고 한다.

100 200 300
100 200 300

In [37]:
'''
### 1.3.2 **기본값을 가진 파라미터**
**`a`**, **`b`**, **`c`** 각각의 파라미터에 기본값을 설정했습니다.
기본값이 설정된 파라미터는 함수 호출 시 생략할 수 있습니다.
함수 호출 시 기본값이 아닌 다른 값을 사용하려면 새 값을 전달해야 합니다.
'''

def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [38]:
# 1.3.3 일부 파라미터만 기본값을 가지는 경우 (잘못된 예)

def f(a=10, b=20, c): #c에 값이 없다.
    print(a, b, c) # error

SyntaxError: non-default argument follows default argument (<ipython-input-38-e5e0270eec0c>, line 3)

In [39]:
# 1.3.4 일부 파라미터만 기본값을 가지는 경우 (올바른 예)
# a는 기본값이 없습니다. 기본값이 없는 파라미터에는 반드시 값을 전달해야 합니다.

def f(a, b=20, c=10):
    print(a, b, c)

f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 10 10
100 200 300
100 200 300

In [40]:
def f(a, b=20, c=30):
    print(a, b, c)

# print(f()) # error
print(f(100, 10)) # 출력 : 100, 10, 30
print(f(a=100, b=200, c=300)) # 출력 : 100 200 300
print(f(c=300, a=100, b=200)) # 출력 : 100 200 300
# print(f(c=300)) # error

100 10 30
None
100 200 300
None
100 200 300
None

In [41]:
# 1.4 나아가기

## 1.4.1 컨밴션 자료형을 아규먼트로 넣었을 때

def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a) # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [42]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 132774392306048

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 132774392306048
print(a) # 출력: [2, 3, 4, 1]

132774392306048
132774392306048
[2, 3, 4, 1]

In [44]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 135115442078224

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115029248768
print(a)  # 출력: [2, 3, 4]

132775661715984
132774392396928
[2, 3, 4]

In [60]:
#1.4.2 권장하지 않는 기본값

# 권장하지 않는 방법

def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

In [61]:
append_to_list(1) # 출력: [1]

[1]

In [63]:
append_to_list(2) # 출력: [1, 2], 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 2, 2]

In [108]:
# 권장법

def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

print

In [64]:
append_to_list(1) # 출력: [1]

[1, 2, 2, 1]

In [65]:
append_to_list(2) # 결과: [2]

[1, 2, 2, 1, 2]

In [67]:
# # 1. 지역 변수 (함수 내에 사용한 변수!) 반대: 전역 변수 test = 1

def f():
    a = 1 # 이 변수는 f() 내에서만 정의! 절대 바깥에서는 사용할 수 없는것.
    print(a) # 출력: 1

f()
print(a)

1
[2, 3, 4]

In [68]:

def f():
    a = 1 # 이 변수는 f() 내에서만 정의! 절대 바깥에서는 사용할 수 없는것.
    print(locals()) # 출력: {'a': 1} # 지역변수가 어떤게 있는지 확인.

f()
print(a)

{'a': 1}
[2, 3, 4]

In [69]:
def f():
    a = 1
    b = 'hello'
    def ff():
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a46e99d2c20>}

f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x78c1f279c4c0>}

# 2. 전역변수

In [77]:
a = 100

def f():
    global a
    a = a + 1
    return a

print(f())
print(a)

101
101

In [ ]:
a = 100
def f():
    a = a + 1 # 글로벌을 지정시키지 않아 error 남

f()
print(a)

In [79]:
a = 100

def f():
    a = 1000
    print(a)

f()

1000

In [ ]:
a = 100
def f():
    a = a + 1 # error

f()

In [86]:
def f():
    a = 100
    a = a + 1 # error
    return a

print(f())

101

## built-in function

In [ ]:
# 빌트인 함수(built-in function) 종류

# 1. all, any 요소 전체의 True, False 판별

In [87]:
# 모두 다 True여야 True 반환, # 마치 and와 비슷하다.
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [88]:
# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False
any([1, 0, 0])

True

In [ ]:
## 2.3 map

#**`map()`** 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한
# 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.
#map함수의 기본 구조는 다음과 같습니다.

In [89]:
# 첫번째 방법 list 안에 있는 정보를 제곱하고 싶을떄 사용하는 방법 map
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [90]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

#lambda 함수는

# x : x ** 2
#    =
# def 제곱(x):
#   return x ** 2

[1, 4, 9, 16]

In [ ]:
## 2.4 filter

list(filter(lambda x : x > 50, range(100))) #0부터 99까지 수에서 x값이 50보다 큰수를 호출함.

In [94]:
## 2.5 zip

list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2')]

In [95]:
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [96]:
list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [97]:
format(10000, ',')

'10,000'

In [98]:
print(format(123.4567, '.2f')) # 출력: 123.46
print(format('Hello', '^9')) # 출력: '  Hello  '

123.46
  Hello

In [99]:
### 2.10.3 enumerate
# index 자동생성시 자주 사용. 이후 데이터 리스트(딕셔너리값)을 join할떄 사용.

values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [ ]:
## 2.11 sorted, reversed

In [100]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [101]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [102]:
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [105]:
# 연습문제 1.
# 2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를
# 만들어주세요. 아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.

def calculate_result(a, b):
    result1 = plus(a, b)
    result2 = minus(a, b)
    result3 = multiply(result1, result2)
    return result3

a = 2
b = 3
result = calculate_result(a, b)
print(result)  # 출력: -5
# 이 부분에 코드를 작성해주세요.

-5

In [106]:
# 연습문제 2.
# x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def cal_result()
    x ** n
    x > 0
    return

SyntaxError: expected ':' (<ipython-input-106-3417fcd8a279>, line 3)

In [107]:
# 연습문제 2.
# x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def power_recursive(x, n):
    # 기저 사례: n이 1이면 x를 반환
    if n == 1:
        return x
    # 재귀 호출: x^(n//2)을 계산하여 중복 계산을 피함
    else:
        half_power = power_recursive(x, n // 2)
        # n이 짝수인 경우
        if n % 2 == 0:
            return half_power * half_power
        # n이 홀수인 경우
        else:
            return half_power * half_power * x

# 사용 예시
x = 2
n = 3
result = power_recursive(x, n)
print(f'{x}의 {n}제곱은 {result}입니다.')

2의 3제곱은 8입니다.

In [ ]:
# 연습문제 5.이 데이터에서 licat을 출력해주세요.
# 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.

data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

In [110]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

# 데이터를 순회하면서 'licat'이 포함된 문자열 찾기
for item in data:
    if 'licat' in item[0]:
        print(item[0][-6:])

 licat

In [ ]:
# 연습문제 6.다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아,
#해당 문자열이 앞으로 읽으나 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.

def is_palindrome(s):
    pass

In [111]:
# 연습문제 7. 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
# filter 함수를 사용하여 짝수를 제거
numbers = list(filter(lambda x: x % 2 != 0, numbers))

# 결과 출력
print(numbers)

[3, 5, 7, 9]

In [112]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# 리스트 컴프리헨션을 사용하여 짝수를 제거
numbers = [num for num in numbers if num % 2 != 0]

# 결과 출력
print(numbers)

[3, 5, 7, 9]